<section id="store_photo" class="mustache-template col-sm-6 form-section">
    <div class="text-center box-centered">
        <div class="clearfix form-item">
            <label class="label-text" for="storeName">
                <h2 class="store-photo-label">Store Photo</h2>
                <small class="display-block small">PNG, JPG or GIF. Minimum size: 350px x 120px</small>
            </label>
            <div class="row">
                <div class="col-xs-12">
                    <div class="store-photo">
                        <img id="store-photo-item" style="display: block; max-width:220px; max-height:150px; width: auto; height: auto; margin-left: auto; margin-right: auto"  src="https://files.marcomcentral.app.pti.com/epsilon/previews/FPO_1.png" alt="Default picture">
                    </div>
                    <!--  MUST BE WRAPED IN UNIQUE FORM -->
					<form></form>  <!-- Marcom kills the first form tag.  Here is our sacrifice unto you. -->
                    <form class="form-controls" id="uploader_form_1" action="#" name="newimageform">
                        <label class="btn btn-primary btn-sm btn-file">
                            <span class="btn-file-text">Upload New Photo</span>
                            <input class="none" type="hidden" name="StoreNumber" id="storenumberhidden" />
                            <input class="none" type="hidden" name="ImageType" id="imagetype" value="store" />
                            <input id="newimage" type="file" name="file" class="none btn-file-input">
                        </label>
						<label class="btn btn-primary btn-sm btn-file btn-store btn-restore-default">
							<span class="btn-file-text">Restore Default</span>
							<input id="defaultimage" type="button" class="none">
						</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
