<section id="basic_details" class="mustache-template basic-details-section box box-grey col-xs-12 col-md-6">
  <div class="basic-details-item clearfix form-item">
    <small class="small pull-right">Read-Only - Edit in POS</small>
    <label class="label-text">
      <h2 class="basic-details-text">Basic Details</h2>
    </label>
  </div>
  <div class="box box-grey clearfix form-item basic-details-item">
    <div class="company-contact">
      <div class="row">
        <div class="col-xs-3 col-sm-4">
          <div class="label-text">
            Address
            <small class="small display-block company-address">4020 Ricola Way Houston TX 77001</small>
          </div>
        </div>
        <div class="col-xs-3 col-sm-4 col-centered">
          <div class="label-text">
            Phone
            <small class="small display-block company-phone">972-984-1500</small>
          </div>
        </div>
        <div class="col-xs-3 col-sm-4 col-centered">
          <div class="label-text">
            Manager Name
            <small class="small display-block company-manager">Cody Smith</small>
          </div>
        </div>
      </div>
    </div>
  <div class="clearfix">
    <div class="content-preview-section">
      <div class="">
        <div class="">
          <div class="store-hours">
            <table class="text-center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tbody>
                <tr class="store-hours-heading">
                  <th colspan="7">
                    <div class="label-text">Hours of Operation</div>
                  </th>
                </tr>
                <tr>
                  <td class="monday" width="48">
                    <b class="store-day">Mon</b>
                    <span class="open-hours">
                      <span class="store-open">9:00 am</span>
                      <br>
                      <span class="store-close">9:00 pm</span>
                    </span>
                    <span class="store-closed none">
                      <strong>Closed</strong><br>
                    </span>
                  </td>
                  <td class="tuesday" width="48">
                    <b class="store-day">Tues</b>
                    <span class="open-hours">
                      <span class="store-open">9:00 am</span>
                      <br>
                      <span class="store-close">9:00 pm</span>
                    </span>
                    <span class="store-closed none">
                      <strong>Closed</strong><br>
                    </span>
                  </td>
                  <td class="wednesday" width="48">
                    <b class="store-day">Wed</b>
                    <span class="open-hours">
                      <span class="store-open">9:00 am</span>
                      <br>
                      <span class="store-close">9:00 pm</span>
                    </span>
                    <span class="store-closed none">
                      <strong>Closed</strong><br>
                    </span>
                  </td>
                  <td class="thursday" width="48">

                    <b class="store-day">Thurs</b>
                    <span class="open-hours">
                      <span class="store-open">9:00 am</span>
                      <br>
                      <span class="store-close">9:00 pm</span>
                    </span>
                    <span class="store-closed none">
                      <strong>Closed</strong><br>
                    </span>
                  </td>
                  <td class="friday" width="48">
                    <b class="store-day">Fri</b>
                    <span class="open-hours">
                      <span class="store-open">9:00 am</span>
                      <br>
                      <span class="store-close">9:00 pm</span>
                    </span>
                    <span class="store-closed none">
                      <strong>Closed</strong><br>
                    </span>
                  </td>
                  <td class="saturday" width="48">
                    <b class="store-day">Sat</b>
                    <span class="open-hours">
                      <span class="store-open">9:00 am</span>
                      <br>
                      <span class="store-close">9:00 pm</span>
                    </span>
                    <span class="store-closed none">
                      <strong>Closed</strong><br>
                    </span>
                  </td>
                  <td class="sunday" width="48">
                    <b class="store-day">Sun</b>
                    <span class="open-hours none">
                      <span class="store-open">9:00 am</span>
                      <br>
                      <span class="store-close">9:00 pm</span>
                    </span>
                    <span class="store-closed">
                      <strong>Closed</strong><br>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
