<section id="features" class="mustache-template col-sm-6 form-section clearfix ">

  <style for="this-page-only">
	#tab-features .section-header {
		margin-top: 8px !important;
		margin-bottom: 8px !important;
	}
	#tab-features .feature .handle {
		margin-right: 12px;
	}
	#tab-features .feature-container {
		margin-top: 12px;
	}
	
	#tab-features .feature {
		border-radius: 4px;
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.10);
		border: 1px solid #CCC;
	}
	#tab-features .feature .feature-label {
	  width: 140px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  text-align: left;
	}
	#tab-features .feature .checkbox {
		margin-right: 0px;
		margin-top: 3px;
		border: 1px solid #CCC;
	}
	
	#tab-features .feature .feature-title-bar {
		background-color: #E7E7E7;
		margin: -12px;
		padding: 4px 8px;
		border-radius: 4px 4px 0px 0px;
	}
	
	#tab-features .feature .feature-media {
		height: 70px;
		position: relative;
		margin-top: 0px;
	}
		
	#tab-features .feature .feature-media img {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		max-height: 70px;
		margin-right: -50%;
		transform: translate(-50%, -50%) 
	}

	#tab-features .feature {
	  padding: 1em;
	  -webkit-transition: ease-out .15s;
	  transition: ease-out .15s;
	  width: 33%;
	  width: 200px;
	  margin: 1em 1%;
	  height: 120px;
	  vertical-align: bottom;
	  position: relative;
	  display: inline-block;
	  text-align: center;
	  background: #FFF;
	}

	#tab-features .sortable.feature {
	  -webkit-box-flex: 0;
	  -ms-flex-positive: 0;
	  -ms-flex-negative: 0;
	  flex-shrink: 1;
	  -ms-flex-preferred-size: 0;
	  flex-basis: 16.3em;
	  margin: 0.4em;
	}

	#tab-features .feature:hover {
	  background: #f9fdc3
	}

	#tab-features .feature-active {
	  background: #f9fdc3;
	}
	
	.gu-mirror {
	  position: fixed !important;
	  margin: 0 !important;
	  z-index: 9999 !important;
	  opacity: 0.8;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	  filter: alpha(opacity=80);
	}
	.gu-hide {
	  display: none !important;
	}
	.gu-unselectable {
	  -webkit-user-select: none !important;
	  -moz-user-select: none !important;
	  -ms-user-select: none !important;
	  user-select: none !important;
	}
	.gu-transit {
	  opacity: 0.2;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	  filter: alpha(opacity=20);
	}
	
  </style>
  
    <h2 class="section-header">Features</h2>
    <small class="small">
      Maximum 6. First 2 will appear on Direct Mail. First 4 show up on Email. All 6 will appear on Website. Drag selected to re-order. Franchisee is responsible to ensure compliance with state and municipality regulations for inspection advertising. Franchisee is responsible for securing permission to use third party logos.
    </small>
	<div>
		<h3>Features In Use <small style="font-size:12px; font-weight:normal; margin-left: 8px">(Uncheck to remove.  Drag to reorder.)</small></h3>
	</div>
	<div class="active-feature-container">None.</div>
	<div>
		<h3>Features Available <small style="font-size:12px; font-weight:normal; margin-left: 8px">(Use checkbox to place into use)</small></h3>
	</div>
	<div class="available-feature-container">None.</div>
  </div>

  <br>
  <div class="form-controls">
	<div class="clearfix form-item">
	  <button class="btn btn-primary btn-sm display-block" name="addFeature" id="addFeatureButton" type="button">
		Add Custom Feature
	  </button>
	</div>
  </div>

  <div class="feature-create-container row edit-card none">
        <h2 class="edit-card-header" id="feature-title">New Feature</h2>
		
	<div class="row">
		<div class="col-sm-6">
			<div class="feature-create form-item">
				<label class="feature-name" for="feature-name">Feature Name</label>
				<input class="feature-name characterLimitInput" id="feature-name" value="" placeholder="" type="text" name="feature-name" data-maxlength="30" >
			</div>
			<div class="form-controls">
			  <div class="clearfix form-item">
				<button id="save-feature" class="btn btn-primary btn-lg display-block" name="save-feature" type="button">
				  Save
				</button>
			  </div>
			</div>
		</div>
		<div class="col-sm-6">
		  <div class="create-feature-icon display-inline-block">
			<label class="create-feature-icon">Feature Icon</label>
			<span class="feature-media" style="text-align:left">
			  <img src="https://placehold.it/60x40" alt="Feature icon image." class="feature-media-icon create-feature-icon">
			</span>
		  </div>
			<div class="create-feature-icon-upload">

              <form></form> <!--blank form that will be stripped by Marcom -->
              <form class="form-controls" id="feature-image-upload-form" action="">
				<label class="create-feature-icon-upload-lab display-block" for="create-feature-icon-upload">
				  <small>PNG, JPG, or GIF. 114px x 61px minimum.</small>
				</label>
				<label class="btn btn-sm btn-primary btn-file display-inline-block">
				  <span class="btn-file-text">Upload Icon</span>
				  <input type="file" name="file" class="none btn-file-input feature-icon-upload-file-input">
				  <input class="none" type="hidden" name="StoreNumber" />
				  <input class="none" type="hidden" name="ImageType" value="feature" />
				</label>
			  </form>
		  </div>
		</div>
	</div>

  </div>

<!-- Store Features Template
@type template/mustache
@param {class} .feature All items in features are featurese themselves
@param {class} .feature-active Each feature have an active state
@Note  The ID can't be a name with spaces
-->
<script class="store-feature-template" type="x-tmpl-mustache">
  {{#.}}
	<div id="{{featureId}}" class="feature {{#sortable}}sortable{{/sortable}} {{#custom}}custom-item{{/custom}}">
	  <div class="{{#sortable}}sortable-item{{/sortable}}">
		<div class="feature-title-bar">
			{{#sortable}}<span id="{{featureId}}-drag-handle" class="handle pull-left">::</span>{{/sortable}}
			<label class="feature-label pull-left" for="{{featureId}}-drag-handle">
			  <span class="feature-title">{{featureTitle}}</span>
			</label>
			  <input id="{{featureName}}" name="{{featureName}}" class="feature-checkbox checkbox pull-right" type="checkbox" {{#checkedState}}checked="checked"{{/checkedState}} data-id="{{featureId}}">
			  <br class="clearfix"/>
		</div>
		<span class="feature-media">
			<img src="{{#featureImgSource}}{{featureImgSource}}{{/featureImgSource}}{{^featureImgSource}}https://placehold.it/60x40{{/featureImgSource}}" alt="{{featureName}}'s company logo image." class="feature-image">
		</span>
		<input id="edit-feature-id" type="hidden"/>
	  </div>
	</div>
  {{/.}}
</script>
  
</section>
