<section id="closed_on" class="mustache-template col-sm-6 holidays-section form-section clearfix">
  <h2 class="holidays">Closed On</h2>
  <ul class="holidays col-3 storePages list list-inline">
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="3efd7085-ed26-4449-b7cc-bf0c79f451ac">New Year's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="bd480f70-ce4f-4aad-9f41-62aef9bc309e">Martin Luther King Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="8aa623d7-35ac-45df-89b5-00a0bdbb3c9b">President's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="e74694d9-f812-4640-ac17-76a5c9f1ab57">Good Friday
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="4b4b671e-c615-46ef-b090-ddf3fd553143">Easter
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="43d67a11-9114-44f4-83d8-35f6f295dcc3">Mother's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="5c2e033f-731e-40d4-8a54-778a0b2d543a">Memorial Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="66d12ada-e5b2-46c1-aafe-2b847b81d242">Father's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="5237ff1c-51d7-460b-a3ca-26eaf3687828">Independence Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="e1a64ff9-8098-4e21-ae99-a46ef308b5be">Labor Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="bfab5e97-76e4-48e6-9350-e2066272c5fb">Columbus Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="3adad7d6-a64e-4680-b2aa-7724702c2f53">Veterans Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="20830ff4-5759-4362-ae88-ab1804fca3cd">Thanksgiving
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure" data-id="7faf87d7-218d-4410-9a87-5ce06d9b2863">Christmas
      </label>
    </li>
  </ul>
</section>
