/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/Qw6_9HvXRQGg5mMbFR3Phn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  font-family: "Oswald", "arial", sans-serif;
  margin-bottom: 70px;
}

img {
  border: 0;
}

sup {
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
.clearFix, .cf, .clear-fix {
  overflow: auto;
  zoom: 1;
}
.hidden-mobile {
  display: none;
}
.inline-block{
  display: inline-block;
  width: 100%;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  height: 1.4em;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
}
header {
  font-size: 22px;
  background: #0281aa;
  color: #fff;
  padding: 8px 10px;
}

article #contact {
  font-size: 17px;
  color: #0281aa;
  margin: 20px;
}
article #contact p {
  margin: 0;
}
.address-section h3 {
  margin-top: 0;
  font-size: 17px;
  display: inline-block;
}
.address-section, .address-bottom, article #contact #contact-address{
  width: 100%;
  display: inline-block;
}
.address-body, .address-bottom a, article #contact #contact-address a {
  color: #0281aa;
  margin-top: 10px;
  display: inline-block;
}
.address-body, article #contact #contact-address a.address-temp {
  text-decoration: none;
  cursor: default;
  margin-top: 0;
}
article #contact #contact-drive {
  float: right;
}
article #contact #contact-drive a {
  color: #0281aa;
  background: #f2f2f2;
  border: 1px solid #bebebe;
  border-radius: 20px;
  display: inline-block;
  padding: 50px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url("../images/drive-icon.png");
  background-position: center 15px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  article #contact #contact-drive a {
    background-image: url("../images/drive-icon_x2.png");
    background-size: 24px 27px;
    background-position: center 15px;
    background-repeat: no-repeat;
  }
}
article .coupon {
  border: 3px solid #ec1d25;
  margin: 20px;
  padding: 8px 10px;
  color: #ec1d25;
  min-height: 128px;
}
article .coupon h1 {
  font-size: 55px;
  margin: 0;
  line-height: 57px;
  margin-top: -8px;
  width: 100px;
  float: left;
}
.js-amount, article .coupon h1 sup {
  font-size: 28px;
  position: relative;
  top: -2px;
  vertical-align: super;
}
article .coupon h2 {
  font-size: 15px;
  float: left;
  width: 60%;
  margin: 0;
}
article .coupon .disc {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 700;
}
article .coupon .codes {
  font-size: 12px;
}
article .coupon .codes a {
  color: #ec1d25;
  text-decoration: none;
}
article #disclaimers {
  color: #666;
  margin: 20px;
  font-family: 'Arial';
  font-size: 11px;
}
article #services {
  margin: 20px;
}
article #services h1 {
  margin: 0;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #666;
}
article #services h1:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
article #services h1 a {
  text-decoration: none;
  color: #0281aa;
  font-weight: 400;
  font-size: 24px;
}
article #services .details {
  color: #333;
  display: none;
  margin: 0;
  font-family: arial;
  font-size: 14px;
}
article #services .details.open {
  display: block;
}
article #services .details p {
  margin: 0;
  padding: 5px 0 10px 0;
}
article #store-hours {
  margin: 20px;
}
article #store-hours table {
  border: 3px solid #ec1d25;
  width: 100%;
  border-spacing: 0;
  padding: 0;
}
article #store-hours table th, article #store-hours table td {
  padding: 4px 10px;
}
article #store-hours table th {
  background: #ec1d25;
  color: #fff;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
}
article #store-hours table td {
  font-weight: 400;
  font-size: 18px;
}
article #store-services {
  margin: 20px;
}
article #store-services #motor-vehicle-inspection a {
  min-height: 51px;
  background-image: url("../images/motor-vehicle.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  article #store-services #motor-vehicle-inspection a {
    background-image: url("../images/motor-vehicle_x2.jpg");
    background-size: 98px 51px;
    background-position: left top;
    background-repeat: no-repeat;
  }
}
article #store-services #stars a {
  min-height: 57px;
  background-image: url("../images/stars.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  article #store-services #stars a {
    background-image: url("../images/stars_x2.jpg");
    background-size: 98px 57px;
    background-position: left top;
    background-repeat: no-repeat;
  }
}
article #store-services #nextgen a {
  min-height: 42px;
  background-image: url("../images/nextgen.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  article #store-services #nextgen a {
    background-image: url("../images/nextgen_x2.jpg");
    background-size: 98px 42px;
    background-position: left top;
    background-repeat: no-repeat;
  }
}
article #store-services #engine-guarantee a {
  min-height: 70px;
  background-image: url("../images/engine-guarantee.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  article #store-services #engine-guarantee a {
    background-image: url("../images/engine-guarantee_x2.jpg");
    background-size: 98px 70px;
    background-position: left top;
    background-repeat: no-repeat;
  }
}
article #store-services a {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  vertical-align: top;
  color: #0093d0;
  text-decoration: none;
  line-height: 16px;
  clear: both;
}
article #store-services a img {
  float: left;
  margin-bottom: 20px;
  margin-top: -5px;
}

footer {
  border-top: 1px solid #0093d0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #004a91;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004a91), color-stop(51%, #115698), color-stop(51%, #004a91), color-stop(100%, #004a91));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #004a91 0%, #115698 51%, #004a91 51%, #004a91 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #004a91 0%, #115698 51%, #004a91 51%, #004a91 100%);
  /* W3C */
}
footer nav {
  background-image: url("../images/logo.jpg");
  background-position: 4px 4px;
  background-repeat: no-repeat;
  padding: 2px;
  text-align: right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  footer nav {
    background-image: url("../images/logo_x2.jpg");
    background-size: 53px 48px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
  }
}
footer nav a {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  width: 24%;
  padding: 2px;
  padding-top: 33px;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
footer nav a.current {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}
footer nav a#nav-offers {
  background-image: url("../images/offers-icon.png");
  background-position: center 5px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  footer nav a#nav-offers {
    background-image: url("../images/offers-icon_x2.png");
    background-size: 14px 24px;
    background-position: center 5px;
    background-repeat: no-repeat;
  }
}
footer nav a#nav-store {
  background-image: url("../images/store-icon.png");
  background-position: center 5px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  footer nav a#nav-store {
    background-image: url("../images/store-icon_x2.png");
    background-size: 13px 24px;
    background-position: center 5px;
    background-repeat: no-repeat;
  }
}
footer nav a#nav-services {
  background-image: url("../images/services-icon.png");
  background-position: center 5px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  footer nav a#nav-services {
    background-image: url("../images/services-icon_x2.png");
    background-size: 31px 22px;
    background-position: center 5px;
    background-repeat: no-repeat;
  }
}
footer nav .divider {
  display: inline-block;
  height: 50px;
  width: 0px;
  border-left: 1px solid #668bae;
  vertical-align: top;
}
