#CtlHead {
  width: 100%
}
.NavTop:before, .searchHolder {
  display: none!important
}
.ButtonRowClearR, .btnContactUs {
  display: none
}
#CtlLogIn {
  width: auto;
  clear: both;
  margin: 6% auto;
  font-family: 'HelveticaNeueLT-Thin', sans-serif;
  box-shadow: 0 0 37px 10px rgba(0, 0, 0, .18);
  min-width: 300px;
  max-width: 450px;
  padding: 6px 12px
}
#CtlLogIn h4 {
  font-size: 26px
}
.CartAlert {
  color: #e74c3c;
  background: 0 0;
  margin-bottom: 1em;
  display: inline-block;
  width: 100%
}
#CtlLogIn>p>a, .header-right {
  display: none
}
#CtlLogIn .CtlSearchGroup, .CtlSearchGroup td.header {
  border: none
}
.CtlSearchGroup td.header {
  padding-bottom: 1em;
  font-size: 20px;
}
#ctl00_content_ForgotPassword_divSecurityQuestion td {
  padding: 0 0 4px;
}
span#ctl00_content_ForgotPassword_ForgotPWSecurityQuestionInstruction {
  padding-bottom: 1.5em;
  display: block;
}
#ctl00_content_ForgotPassword_ForgotPWSecurityQuestionInstruction br, #ctl00_content_ForgotPassword_divSecurityQuestion br {
  display: none;
}
#CtlLogIn .CtlSearchGroup {
  background: 0 0;
  margin: 0!important;
  padding: 0 4px 0 0;
  width: 100%
}
.btn-s:hover, .pbtn {
  background: 0 0
}
A.pbtn {
  padding: 0
}
.pbtn {
  font-family: 'HelveticaNeueLT-Condensed';
  height: auto!important
}
a.pbtn span, a.pbtn.primary span {
  font-size: 15px!important;
  max-width: 140px;
  margin: 0 0 15px;
  padding: 6px 12px;
  color: #fff;
  border: 1px solid #337ab7;
  border-radius: 4px;
  background: #0ea3dd;
  box-sizing: content-box;
}
.CtlSearchGroup td {
  padding: 0 6px
}
.header-right .btnLogOut:before {
  content: none
}
.CtlSearchGroup td input, .CtlSearchGroup td select {
  border-color: #66afe9;
  width: 100%;
  color: #555;
  font-size: 13px;
  padding: 7px 10px;
  font-weight: 400;
  margin-bottom: 18px
}
.CtlSearchGroup td input:focus, .CtlSearchGroup td select:focus, A.pbtn SPAN:hover {
  border-color: #00bcd4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .8)
}
A.pbtn SPAN:hover:focus {
  border-color: rgba(0, 72, 144, .72);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .64);
  color: #004890;
  background: #ececec
}
#ctl00_content_Login_txtMessage {
  background: #fff;
  color: red;
  padding: 0 15px;
  display: inline-block;
  text-align: right
}
