.logo a:hover {
  cursor: default
}
.ContentBoxGrey {
  background: 0 0
}
#CtlBody, #ENUSmain .Error, .CtlGridTable3, .UserBudgetProfile {
  border: none;
  background: 0 0
}
.CtlAddrEdit .InputArea {
  position: relative;
  padding-left: .6em
}
input[type=number], input[type=password], input[type=search], input[type=text], textarea {
  background: none;
}
#ENUSmain .Error {
  font-family: HelveticaNeueLT-LightCond, sans-serif;
  font-size: 14px;
  font-style: normal;
  max-width: 620px;
  margin: 0 auto
}
.Confirmation {
  max-width: 80%;
  margin: 1em auto;
  text-align: center;
}
.RedBoldSm {
  position: absolute;
  left: 0;
  top: 0
}
#ctl00_content_TextUserAttributeList_lblUserName, .ContentBoxGrey, .CtlAddrEdit {
  font-family: HelveticaNeueLT-Thin, sans-serif
}
#navBarEnhanced, .header-right {
  visibility: hidden
}
#CtlBrdCrm, #divAddressBook {
  display: none
}
#CtlBody {
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 0 37px 10px rgba(0, 0, 0, .18)
}
.ContentBoxLarge {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}
#ctl00_content_TextUserAttributeList_lblUserName {
  font-size: 20px;
  display: inline-block;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  padding: 12px 12px 6px;
  text-align: center
}
.ContentBoxGrey, .CtlAddrEdit {
  clear: both;
  width: auto;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  padding: 6px 12px;
  border: none
}
#ctl00_content_TextUserAttributeList_divButtons {
  width: auto!important;
  max-width: 600px
}
#ctl00_content_TextUserAttributeList_btnApply {
  display: none;
}
#CtlFooter {
  background: 0 0
}
.btn-s:hover, .pbtn {
  background: 0 0
}
.pbtn {
  font-family: 'HelveticaNeueLT-Condensed';
  height: auto!important;
  padding: 0
}
a.pbtn span, a.pbtn.primary span, .pbtn.btn-m.pbtn-icon-after-wrapper span {
  font-size: 15px!important;
  max-width: 140px;
  margin: 0;
  padding: 6px 12px;
  color: #fff;
  border: 1px solid #337ab7;
  border-radius: 4px;
  background: #00adee;
  box-sizing: content-box;
  -webkit-transition: .5s;
  transition: .5s
}
a#ctl00_content_TextUserAttributeList_btnContnue {
  margin: 0!important;
  padding: 0!important;
}
.CtlSearchGroup td input:focus, .CtlSearchGroup td select:focus, a.pbtn span:hover {
  border-color: #00bcd4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .8)
}
a.pbtn span:hover {
  color: #fff
}
a.pbtn span:hover:focus {
  border-color: rgba(0, 72, 144, .72);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .64);
  color: #004890;
  background: #ececec
}
span.pbtn-icon-after.img-next {
  display: none;
}
.RedBoldSm + span {
  font-size: 12px;
  padding: 0 0 1em 0;
  margin: 0 0 0 -0.6em;
  display: inline-block;
}
