/* #Media Queries
================================================== */

@media all and (max-width:1230px) {
  .main {
    width: 100%;
    padding: 0;
  }
  header .header-nav {
    padding-right: 0;
  }
  .enumenu_ul li a, ul.navBarEnhanced a {
    font-size: 16px;
  }
  .program-button .blue-btn {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 6px;
  }
  .program-button {
    padding-left: 0;
    padding-right: 0;
  }
  .programsummary-table .customCheckbox label {
    font-size: 18px;
    position: relative;
    top: 2px;
  }
  .program-inputs .step-3 {
    width: 33%;
  }
  .program-input-row label {
    font-size: 15px;
  }
  .program-inputs .step-1 .select-option .sbHolder {
    width: 100% !important;
    min-width: inherit;
  }
  .help-get-started {
    padding-left: 0;
  }
  .contact-form h5, .contact-form h4 {
    padding-left: 0;
  }
}
@media all and (max-width:1023px) {
  header .header-info h2 {
    font-size: 14px;
  }
  header .header-info h3 {
    font-size: 15px;
  }
  header .header-top .header-left {
    width: 85%;
  }
  header .header-right {
    width: 15%;
  }
  .enumenu_ul li a, ul.navBarEnhanced a {
    font-size: 14px;
  }
  .enumenu_ul > li {
    padding: 3px 9px 18px 10px;
  }
  .mid-container h1 {
    font-size: 26px;
  }
  #welcome h3 {
    font-size: 20px;
  }
  #welcome p {
    font-size: 16px;
    line-height: 24px;
  }
  .participation-table th {
    font-size: 17px;
    padding-left: 10px;
  }
  .participation-table td {
    font-size: 16px;
  }
  .icons-link ul li a {
    font-size: 15px;
    line-height: 17px;
    float: left;
    width: 100%;
  }
  .calendar-details p {
    font-size: 15px;
  }
  .tab-links a {
    font-size: 15px;
  }
  .tab-links .nav-tabs li {
    margin-right: 5px;
  }
  .tab-links .nav-tabs li::after {
    margin-left: 5px;
  }
  .customCheckbox label {
    font-size: 18px;
    padding-top: 4px;
  }
  .customCheckbox {
    padding-left: 33px;
  }
  .program-select .program-info {
    width: 35%;
  }
  .program-select ul li {
    padding-right: 12px;
  }
  .programsummary-table td.store {
    padding-left: 20px;
  }
  .programsummary-table th.store-enroll .customCheckbox {
    background-position: center top;
    padding-left: 0;
    padding-top: 25px;
  }
  .programsummary-table th.store-enroll .checkbox-area {
    padding-bottom: 2px;
  }
  .programsummary-table th.store-enroll .customCheckbox label {
    font-size: 16px;
  }
  .program-inputs .steps-main {
    width: 100%;
    margin-right: 0;
  }
  .program-inputs .program-filters {
    padding-top: 20px;
  }
  .program-inputs h4 span {
    font-family: 'HelveticaNeueLT-BoldCond';
  }
  .program-input-row label {
    width: 25%;
  }
  .program-input-row .program-input-main {
    width: 69%;
  }
  .dummy {
    display: none;
  }
  .support-library ul li .support-info p {
    font-size: 15px;
    line-height: 22px;
  }
  .help-left-container {
    width: 40%;
  }
  .contact-form h5 {
    font-size: 17px;
  }
  .contact-form h4 {
    font-size: 24px;
  }
  .accordion-title, .accordion-title.active {
    background-size: 46px;
  }
  .contact-form form .form-submit .submit-btn {
    font-size: 17px;
  }
}
@media all and (max-width:830px) {
  .enumenu_ul li a, ul.navBarEnhanced a {
    font-size: 13px;
  }
}
@media all and (max-width:799px) {
  .enumenu_ul li a, ul.navBarEnhanced a {
    font-size: 12px;
  }
  .touch-info img {
    width: 111px;
  }
}
@media all and (max-width:767px) {
  .header-right {
    display: none;
  }
  .enumenu_ul {
    display: none
  }
  .menu-block {
    height: auto;
  }
  .menu-icon {
    display: block
  }
  .services-detail a.pba-detail {
    border-bottom: 2px solid #d3d9da;
  }
  .enumenu_ul > li {
    display: block;
    margin: 0px;
    padding: 0px;
  }
  .enumenu_ul > li > a {
    display: block;
    text-align: center;
    padding: 8px;
    color: #fff;
  }
  .enumenu_ul > li > a:hover {
    color: #48494D;
  }
  .enumenu_ul {
    width: 100%;
  }
  .enumenu_ul > li ul {
    background: #D1D1D1;
    transition: none;
    -moz-transform: none;
    -webkit-transition: none;
  }
  .enumenu_ul > li ul a {
    text-align: center;
    display: block;
    text-align: center;
    color: #fff;
    padding: 0px 0;
    font-size: 17px;
  }
  .enumenu_ul > li ul a:hover {
    color: #01467E;
  }
  .enumenu_ul > li {
    min-height: inherit;
    border-bottom: 1px solid #cdcbc8;
  }
  .enumenu_ul > li:last-child {
    border-bottom: 0;
  }
  .enumenu_ul {
    position: absolute;
    left: 0;
    width: 100%;
    background: #bcbab7;
    z-index: 99999;
    top: 158px;
  }
  /*.enumenu_ul li a, ul.navBarEnhanced a {
    font-size: 20px;
  }*/
  .enumenu_ul ul li {
    width: 100%;
    margin: 0;
    padding-bottom: 7px;
  }
  .enumenu_ul > li ul {
    background: #48494D;
    opacity: 1;
    visibility: visible;
    padding-top: 7px;
  }
  .enumenu_ul > li ul li a:hover {
    color: #3CCBF5 !important;
  }
  header .header-top .header-left {
    width: 91%;
  }
  header .header-info h2 {
    font-size: 10px;
  }
  header .header-info h3 {
    font-size: 10px;
  }
  .enumenu_ul {
    padding-top: 0;
  }
  .enumenu_ul > li:after {
    display: none;
  }
  .enumenu_ul > li {
    width: 100%;
  }
  .left-container {
    width: 100%;
  }
  .right-container {
    width: 100%;
    padding-top: 40px;
  }
  #welcome {
    padding-bottom: 20px;
  }
  .icons-link {
    padding-top: 15px;
  }
  .participation-table {
    margin-top: 0;
  }
  .program-button .blue-btn {
    font-size: 20px;
  }
  #programSummary {
    margin-top: 0;
  }
  .program-button {
    padding-top: 2px;
  }
  .programsummary-table .store-de, .programsummary-table .store-counts {
    display: none;
  }
  .programsummary-table .store-details {
    display: block;
  }
  .programsummary-table .grand-total {
    display: none;
  }
  .programsummary-table td.store-cost span {
    padding-right: 0;
  }
  .mobile-info {
    width: 100%;
  }
  .mobile-table table td {
    width: 100%;
    border-bottom: 0;
  }
  .mobile-table .store-label {
    width: 34% !important;
    text-align: left;
  }
  .mobile-table .store-info {
    width: 23% !important;
    text-align: center;
  }
  .programsummary-table tr.mobile-info td {
    width: 100%;
    padding: 10px;
    border-right: 0;
  }
  .programsummary-table .mobie-details {
    display: block;
  }
  .program-inputs .step-2 ul {
    max-height: 200px;
  }
  .program-inputs .step-3 {
    padding-top: 30px;
  }
  .mobile-table td {
    text-align: left;
    padding-left: 20px !important;
  }
  .support-library ul li {
    min-height: 102px;
  }
  .accordion-content a {
    float: none;
    display: inline-block;
    color: #2aace3;
  }
  .main-td td {
    border-bottom: 0 !important;
  }
  [class^='mobie-details'] {
    display: block;
  }
  .mobile-table td {
    border-bottom: 1px solid #fff;
  }
}
@media all and (max-width:700px) {
  .view-program-summary a {
    font-size: 15px;
    min-height: 19px;
  }
}
@media all and (max-width:630px) {
  .view-program-summary {
    float: right;
    width: 100%;
    padding-top: 20px;
  }
  .filters-area {
    width: 100%;
  }
  header .logo {
    width: 100%;
    text-align: center;
  }
  header .header-info {
    float: left;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 80px;
  }
  header .header-top .header-left {
    width: 100%;
  }
  header .header-info h2 {
    font-size: 12px;
  }
  header .header-info h3 {
    font-size: 13px;
  }
}
@media all and (max-width:600px) {
  #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
    display: block;
  }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables tr {
    border: 1px solid #ccc;
  }
  #no-more-tables td {
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
    width: 100%;
  }
  #no-more-tables td:last-child {
    border-bottom: 0;
  }
  #no-more-tables td:before {
    position: absolute;
    background: #eeeced;
    top: 0px;
    left: 0px;
    width: 39%;
    padding: 7px;
    white-space: nowrap;
    text-align: left;
    color: #E02926;
    font-size: 16px;
  }
  #no-more-tables td:before {
    content: attr(data-title);
  }
  #participationDashboard .participation-table tbody {
    border-top: 0;
  }
  #participationDashboard .participation-table {
    padding-bottom: 0;
  }
  .calendar-details p {
    width: 100%;
    text-align: center;
  }
  .tab-links {
    width: 100%;
    text-align: center;
  }
  .calendar-details {
    padding-bottom: 10px;
    margin-top: 0;
  }
  .enumenu_ul li a, ul.navBarEnhanced a {
    font-size: 12px;
  }
  .mid-container p {
    font-size: 16px;
    line-height: 26px;
  }
  #programDetails .participation-table td {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  #programDetails td.touch-info {
    text-align: center;
    padding-top: 0;
  }
  #programDetails .participation-table a {
    font-size: 14px;
  }
  #programDetails .participation-table span {
    padding-bottom: 5px;
  }
  .alert-container .alert-main {
    font-size: 14px;
    line-height: 20px;
    padding-left: 50px;
    background-position: 15px 4px;
  }
  .alert-container .alert-controls {
    background-position: 15px 13px;
  }
  .accordion-title {
    font-size: 18px;
    padding: 13px 15px;
  }
  .accordion-title, .accordion-title.active {
    background-size: 39px;
  }
  #programSummary h3 {
    font-size: 18px;
  }
  .customCheckbox label {
    font-size: 17px;
    padding-top: 4px;
  }
}
@media all and (max-width:540px) {
  header .header-info h2 {
    font-size: 13px;
  }
  header .header-info h3 {
    font-size: 14px;
    float: none;
    display: inline-block;
    width: 270px;
    padding-top: 5px;
  }
  .enumenu_ul {
    top: 199px;
  }
}
@media all and (max-width:470px) {
  .program-button .blue-btn {
    font-size: 18px;
    padding-bottom: 8px;
  }
  .programsummary-table th.store-enroll .customCheckbox label {
    font-size: 12px;
  }
  .programsummary-table th, .programsummary-table td, .programsummary-table p {
    font-size: 15px;
    line-height: 20px;
  }
  .programsummary-table .store-cost {
    line-height: 20px;
  }
  .programsummary-table td.store {
    padding-left: 10px;
  }
  .programsummary-table td.store {
    width: 10%;
  }
  .filters-area .filter-select {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
    float: none;
    display: inline-block;
  }
  .filters-area {
    text-align: center;
  }
  .select-option .sbHolder {
    float: none;
    display: inline-block;
  }
  .filters-area .filter-reset {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .view-program-summary {
    padding-top: 0;
    text-align: center;
  }
  .view-program-summary a {
    float: none;
    display: inline-block;
    font-size: 14px;
  }
  #programManagement .select-option .sbHolder .sbSelector {
    font-size: 15px;
    height: 26px;
  }
  .select-option .sbHolder ul li a {
    font-size: 15px;
  }
  #programManagement .select-option .sbHolder .sbToggle {
    margin-top: -1px;
  }
  .program-inputs .store-columns .store-columns-main {
    width: 100%;
  }
  .program-inputs .store-columns .store-columns-main:last-child {
    padding-top: 95px;
  }
  .program-inputs .store-columns .store-columns-main p {
    font-family: 'HelveticaNeueLT-BoldCond';
  }
  .program-input-row label {
    width: 100%;
    text-align: left;
    padding-bottom: 3px;
  }
  .program-input-row .program-input-main {
    width: 100%;
  }
  .support-library ul li .support-img {
    width: 60px;
  }
  .support-library ul li .support-info {
    padding-left: 69px;
  }
  .contact-form h5 {
    font-size: 15px;
  }
  .contact-form h4 {
    font-size: 22px;
  }
  .help-get-started .video-desc p {
    font-size: 14px;
  }
  .mobile-table .store-info {
    width: 23% !important;
  }
  .programsummary-table td.store {
    width: 23%;
  }
  .mobile-table .store-label {
    padding-left: 10px !important;
  }
}
@media all and (max-width:400px) {
  .programsummary-table td table td {
    font-size: 12px;
    line-height: 16px;
  }
  .programsummary-table td.store {
    width: 19%;
  }
  .mobile-table .store-info {
    width: 34% !important;
  }
  .mobile-table .store-label {
    width: 42% !important;
  }
  .successmsg {
    padding: 5px;
    font-size: 19px;
  }
  header .header-info h3 {
    font-size: 12px;
    float: none;
    display: inline-block;
    width: 250px;
    padding-top: 5px;
  }
  .enumenu_ul {
    top: 194px;
  }
}
@media all and (min-width:768px) and (max-width:769px) {
  .program-input-row .select-option .sbHolder ul {
    width: 99.7% !important;
  }
}
