<section id="communities_served" class="mustache-template col-sm-6 form-section">
  <div class="clearfix form-item">
    <label class="label-text" for="storeName">
      <h2>Communities Served</h2>
      <small class="small">List of communities served, comma separated. 200 characters max.</small>
    </label>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-8">
            <div class="characterLimit">
              <!-- Use the Character Limit plugin -->
              <textarea data-maxlength="200" class="characterLimitInput" placeholder="" style="height: 150px" rows="50" cols="160" id="communitiesServed" name="communitiesServed"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
