<section id="services" class="mustache-template col-sm-6 services form-section clearfix">
  <div class="col-xs-12">

    <h2 class="section-header services-section-header">Services</h2>
    <ul class="store-services-list storePages list list-inline">
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Full-Service Oil Change
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Transmission Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Radiator Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Air Filter Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Fuel System Cleaning Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Serpentine Belt Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Air Conditioning Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Tire Rotation
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Gearbox Fluid Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Headlight/Taillight Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Battery Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService">Windshield Wiper Replacement
        </label>
      </li>
    </ul>
  </div>
</section>
