<section id="services" class="mustache-template col-sm-6 services form-section clearfix">
  <div class="col-xs-12">

    <h2 class="services-section-header">Services</h2>
    <ul class="store-services-list storePages list list-inline">
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="81284d75-e4fd-494b-bb9d-f373afcbe0e2">Full-Service Oil Change
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="5d0172a3-f95d-47b2-afb4-976915102107">Transmission Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="539e7fd0-3fd1-487c-b2b5-e3453abda009">Radiator Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="4a2258cf-5c76-4ba0-aff7-8e6c22f4bd3c">Air Filter Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="96744000-ca7f-43cd-9c04-5a8ec7f3ce77">Fuel System Cleaning Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="9089f562-4e5b-423f-9a23-e31774bd8f7b">Serpentine Belt Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="120d91a1-2067-4de6-b127-0ce7a28eae56">Air Conditioning Service
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="d29b938e-92a2-4d1c-ac13-24f67861b6bd">Tire Rotation
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="a65c75be-288e-4f5f-9622-82b2bc83e11e">Gearbox Fluid Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="2dbf5f34-33f4-4560-ad5a-76b731087de1">Headlight/Taillight Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="1dc433ed-8f7c-41f3-8021-89e477d96962">Battery Replacement
        </label>
      </li>
      <li class="col-sm-6 list-item-default service-item">
        <label class="checkbox-default service-item-label">
          <input class="checkbox-default-input service-item-checkbox" type="checkbox" name="storeService" data-id="19ae00eb-9dc7-4a4e-8f30-512caf3411a2">Windshield Wiper Replacement
        </label>
      </li>
    </ul>
  </div>

</section>
