<section id="features" class="mustache-template col-sm-6 form-section clearfix ">
  <div class="clearfix">
    <h2 class="section-header">Features</h2>
    <small class="small">
      Maximum 6. First 2 will appear on Direct Mail. First 4 show up on Email. All 6 will appear on Website. Drag selected to re-order. Franchisee is responsible to ensure compliance with state and municipality regulations for inspection advertising. Franchisee is responsible for securing permission to use third party logos.
    </small>
    <div class="row">
        <!-- Store Features Template
        @type template/mustache
        @param {class} .feature All items in features are featurese themselves
        @param {class} .feature-active Each feature have an active state
        @Note  The ID can't be a name with spaces
      -->
        <script class="store-feature-template" type="x-tmpl-mustache">
          {{#.}}
            <div id="{{featureId}}" class="feature sortable">
              <div class="sortable-item">
                <span class="handle">::</span>
                <label for="{{featureName}}">
                  <input id="{{featureName}}" name="{{featureName}}" class="checkbox" type="checkbox" checked="{{#checkedState}}checked{{/checkedState}}{{^checkedState}}false{{/checkedState}}">
                  <span class="feature-title">{{featureTitle}}</span>
                  <span class="feature-media"><img src="{{#featureImgSource}}{{featureImgSource}}{{/featureImgSource}}{{^featureImgSource}}https://placehold.it/60x40{{/featureImgSource}}" alt="{{featureName}}'s company logo image." class="feature-image"></span>
                </label>
              </div>
            </div>
          {{/.}}
        </script>
        <!-- We’ll programmatically fill a this div with feature objects. -->
        <div class="feature-container"></div>
    </div>
  </div>
  <div class="feature-create row none">
    <div class="col-xs-12">
      <div class="clearfix row">
        <div class="col-xs-12 col-md-6">
          <div class="feature-create form-item">
            <label class="feature-name" for="featureName">Feature</label>
            <input class="feature-name" value="" placeholder="Potted Plants" type="text" name="Feature Name">
          </div>
        </div>
      </div>
      <br><br>

      <div class="clearfix row">
        <div class="col-xs-12 col-sm-2 create-feature-icon">
          <div class="display-inline-block text-center">
            <label class="create-feature-icon">Icon</label>
            <span class="feature-media">
              <img src="https://placehold.it/60x40" alt="Feature icon image." class="feature-media-icon create-feature-icon">
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 create-feature-icon-upload">
          <form class="feature-icon-form display-table-cell form-controls" id="uploader_form_5" action="">
            <label class="create-feature-icon-upload-lab display-block" for="create-feature-icon-upload">
              <small>PNG, JPG, or GIF. 114px x 61px minimum.</small>
            </label>
            <label class="btn btn-sm btn-default btn-file display-inline-block">
              <span class="btn-file-text">Upload Icon</span>
              <input type="file" class="none btn-file-input feature-icon-upload-file-input">
            </label>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
