<section id="closed_on" class="mustache-template col-sm-6 holidays-section form-section clearfix">
  <h2 class="holidays">Closed On</h2>
  <ul class="holidays col-3 storePages list list-inline">
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">New Year's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Martin Luther King Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">President's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Good Friday
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Easter
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Mother's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Memorial Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Father's Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Independence Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Labor Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Columbus Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Veterans Day
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Thanksgiving
      </label>
    </li>
    <li class="holiday list-item-default">
      <label class="checkbox-default">
        <input class="checkbox-default-input" type="checkbox" name="storeClosure">Christmas
      </label>
    </li>
  </ul>
</section>
