<section id="store_photo" class="mustache-template col-sm-6 form-section">
  <div class="text-center box-centered">
    <div class="clearfix form-item">
      <label class="label-text" for="storeName">
        <h2 class="store-photo-label">Store Photo</h2>
        <small class="display-block small">PNG, JPG or GIF. Minimum size: 350px x 120px</small>
      </label>
      <div class="row">
        <div class="col-xs-12">
          <div class="store-photo">
            <img id="store-photo-item" width="350px" height="auto" src="https://files.marcomcentral.app.pti.com/epsilon/previews/FPO_1.png" alt="Default picture">
          </div>

          <!--  MUST BE WRAPED IN UNIQUE FORM -->
          <form class="form-controls" id="uploader_form_1" action="">
            <label class="btn btn-primary btn-sm btn-file">
              <span class="btn-file-text">Upload New Photo</span>
              <input type="file" class="none btn-file-input">
            </label>
            <label class="btn btn-primary btn-sm btn-file">
              <span class="btn-file-text">Restore Default</span>
              <input type="file" class="none btn-file-input">
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
