<section id="newsEventPromotionSection" class="mustache-template col-sm-6 clearfix form-section">
    <style for="this-page-only">
        #tab-news .section-header {
            margin-top: 8px !important;
            margin-bottom: 8px !important;
        }

        #tab-news .label-text {
            font-weight: bold;
        }

            #tab-news .label-text small {
                font-weight: normal;
            }

        #tab-news .radio {
            margin-bottom: 12px;
            margin-top: 4px;
        }

            #tab-news .radio input[type=radio] {
                margin-top: 4px;
            }

        #tab-news .storeNewsEventsPromotionsList {
            width: 75%;
        }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="section-header">Promotions/News/Events</h2>

            <div class="display-inline-block storeNewsEventsPromotionsList">
                <section class="resp-tab-content-section">
                    <!--  This toggled the hidden items.
                        Used 1st by StorePagesController.js
                        - John Smith
                      -->
                    <small>
                        <a href="#sortable" role="button" class="pull-right display-inline storeNewsEventsPromotionsShowActive" aria-hidden="false">
                            | Show scheduled/active only
                        </a>

                        <a href="#sortable" role="button" class="pull-right display-inline storeNewsEventsPromotionsShowAll" aria-hidden="false" hidden>
                            Show All |
                        </a>
                    </small>
                    <div id="mustacheTableHtmlNews"></div>
                    <script id="mustache-template-news" type="text/template">
                        <table class="full-width">
                            <tbody id="sortable-false" class="full-width">
                                <tr class="table-banner">
                                    <th class="table-banner-item text-left">
                                        Type
                                    </th>
                                    <th class="table-banner-item text-left">
                                        Title
                                    </th>
                                    <th class="table-banner-item  text-left">
                                        Post On
                                    </th>
                                    <th class="table-banner-item nowrap  text-left">
                                        Remove On
                                    </th>
                                    <th class="table-banner-item">
                                        Edit
                                    </th>
                                    <th class="table-banner-item">
                                        Delete
                                    </th>
                                </tr>
                                <tr class="empty-row">
                                    <td colspan="7" class="list-item">No Promotion/News/Events created.</td>
                                </tr>
                                <!--
                                <tr draggable="true" class="filterable newsEventPromotionItem text-center storeNewsEventsPromotionsShowAllItem storeNewsEventsPromotionsActive" data-filter-storeid="1" data-storeid="1" data-enrolled="true">
                                    <td class="list-item text-center">
                                        <small>News</small>
                                    </td>
                                    <td class="list-item text-left">
                                        <small>
                                            adipisicing elit. Facere tempore ab quasi...
                                        </small>
                                    </td>
                                    <td class="list-item">
                                        <small>2016-08-29</small>
                                    </td>
                                    <td class="list-item">
                                        <small>2018-12-29</small>
                                    </td>
                                    <td class="list-item">
                                        <a class="editNewsEventPromotion" title="Edit Offer Details" role="button" data-toggle="collapse" href="#collapseNewsEventForms" aria-expanded="false" aria-controls="collapseNewsEventForms">
                                            <span alt="Edit Offer Details" class="icon icon-edit-bg"></span>
                                        </a>
                                    </td>
                                    <td class="deleteNewsEventPromotion list-item">
                                        <button data-storeid="1938" data-offerid="1" alt="Delete Offer" class="icon icon-delete-bg"></button>
                                    </td>
                                </tr>
                                <tr draggable="true" class="filterable newsEventPromotionItem text-center storeNewsEventsPromotionsActive" data-filter-storeid="2" data-storeid="2" data-enrolled="true">
                                    <td class="list-item text-center">
                                        <small>Event</small>
                                    </td>
                                    <td class="list-item text-left">
                                        <small>
                                            ipsum dosit amet, consecteturm ipsum....
                                        </small>
                                    </td>
                                    <td class="list-item">
                                        <small>2000-01-09</small>
                                    </td>
                                    <td class="list-item">
                                        <small>3030-01-01</small>
                                    </td>
                                    <td class="list-item">
                                        <a class="editNewsEventPromotion" title="Edit Offer Details" role="button" data-toggle="collapse" href="#collapseNewsEventForms" aria-expanded="false" aria-controls="collapseNewsEventForms">
                                            <span alt="Edit Offer Details" class="icon icon-edit-bg"></span>
                                        </a>
                                    </td>
                                    <td class="deleteNewsEventPromotion list-item">
                                        <button data-offerid="2" alt="Delete Offer" class="icon icon-delete-bg"></button>
                                    </td>
                                </tr>
                                <tr draggable="true" data-filter-storeid="3" data-storeid="3" data-enrolled="false" id="past-date-1" class="storeNewsEventsPromotionsShowAllItem collapse filterable newsEventPromotionItem text-center">
                                    <span>
                                        <td class="list-item text-center">
                                            <small>Promotion</small>
                                        </td>
                                        <td class="list-item text-left">
                                            <small>
                                                Facere tempore ab quasi, Lorem ipsum. Lorem ipsum dolor sit...
                                            </small>
                                        </td>
                                    </span>
                                    <td class="list-item">
                                        <small>2016-08-29</small>
                                    </td>
                                    <td class="list-item">
                                        <small>2018-12-29</small>
                                    </td>
                                    <td class="list-item">
                                        <a class="editNewsEventPromotion" title="Edit Offer Details" role="button" data-toggle="collapse" href="#collapseNewsEventForms" aria-expanded="false" aria-controls="collapseNewsEventForms">
                                            <span alt="Edit Offer Details" class="icon icon-edit-bg"></span>
                                        </a>
                                    </td>
                                    <td class="deleteOffer list-item">
                                        <button data-offerid="3" alt="Delete Offer" class="icon icon-delete-bg"></button>
                                    </td>
                                </tr>-->
                                {{#rows}}
                                <tr draggable="false" class="filterable careerItem text-center careerItemActive" data-enrolled="true" data-id="{{id}}">
                                    <td class="list-item text-left">
                                        <small>
                                            {{typeeasy}}
                                        </small>
                                    </td>
                                    <td class="list-item text-left">
                                        <small>
                                            {{shortTitle}}
                                        </small>
                                    </td>
                                    <td class="list-item text-left">
                                        <small>{{postOnDate}}</small>
                                    </td>
                                    <td class="list-item text-left">
                                        <small>{{removeOnDate}}</small>
                                    </td>
                                    <td class="list-item">
                                        <a class="editNewsEventPromotion editbutton" title="Edit Offer Details" role="button" data-toggle="collapse" href="#collapseNewsEventForms" aria-expanded="false" aria-controls="collapseNewsEventForms">
                                            <span alt="Edit Offer Details" class="icon icon-edit-bg"></span>
                                        </a>
                                    </td>
                                    <td class="deleteNewsEventPromotion list-item deletebutton">
                                        <button type="button" data-storeid="1938" data-offerid="1" alt="Delete Offer" class="icon icon-delete-bg"></button>
                                    </td>
                                </tr>
                                {{/rows}}

                            </tbody>
                        </table>
                    </script>
                </section>
            </div>
            <br>

            <div class="form-controls">
                <div class="clearfix form-item">
                    <button class="btn btn-primary btn-sm display-block" id="addnewsbutton" name="addNewsEventPromotion" type="button" data-toggle="collapse" data-target="#collapseNewsEventForms" aria-expanded="false" aria-controls="collapseNewsEventForms">
                        Add Promotion/News/Event
                    </button>
                </div>
            </div>

            <div class="edit-card newsEventsPromotionsForm accordion-body collapseNewsEventForms collapse row" id="collapseNewsEventForms" style="height: 0px; display: none;">

                <h2 class="edit-card-header" id="newsformbanner">Create News/Event/Promotion</h2>

                <div class="col-sm-6">

                    <div class="clearfix form-item">
                        <label class="label-text" for="JobDescription">
                            Posting Type
                        </label>
                        <select id="posttype">
                            <option value="promotion">Promotion</option>
                            <option value="news">News</option>
                            <option value="event">Event</option>
                        </select>
                    </div>
                    <div class="clearfix form-item">
                        <label class="label-text" for="newsEventTitle">
                            Title
                        </label>

                        <div class="characterLimit">
                            <div class="">
                                <div class="">
                                    <!-- Use the Character Limit plugin -->
                                    <textarea data-maxlength="240" class="characterLimitInput resize-false" placeholder="" rows="1" cols="50" id="newsEventTitle" name="newsEventTitle"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-item">
                        <label class="label-text" for="newsEventText">
                            Description
                        </label>
                        <div class="">
                            <div class="">
                                <div class="characterLimit">
                                    <!-- Use the Character Limit plugin -->
                                    <textarea data-maxlength="1000" class="characterLimitInput" placeholder="" rows="6" cols="40" id="newsEventText" name="newsEventText"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-controls">
                        <div class="clearfix form-item">
                            <button class="btn btn-primary btn-lg display-inline" id="buttonsavenews" name="saveNewsEvent" type="button" data-toggle="collapse" data-target="#collapseNewsEventForms" aria-expanded="false" aria-controls="collapseNewsEventForms">
                                Save
                            </button>
                            <button id="buttoncancelnews" class="btn btn-primary btn-lg display-inline" name="removeNewsEvent" type="button" aria-expanded="false" aria-controls="collapseNewsEventForms">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="clearfix form-item">

                        <label class="label-text" for="newsEventPromotionImage">
                            Image -
                            <em>Optional</em>
                        </label>
                        <!-- To crop the image with a circle, make sure to update the width and height in the inline styles. -->
                        <img class="" id="newsEventPromotionImage" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1046%C3%97322&w=1046&h=322" alt="Default picture">

                        <!--  MUST BE WRAPED IN UNIQUE FORM -->
                        <form></form> <!--blank form that will be stripped-->
                        <form class="form-controls display-inline" id="uploader_form_newsimage_1" action="" >
                            <label class="btn btn-sm btn-primary btn-file display-inline">
                                <span class="btn-file-text display-inline">Upload New Graphic</span>
                                <input class="none" type="hidden" name="StoreNumber" id="storenumberhiddenn" />
                                <input class="none" type="hidden" name="ImageType" id="imagetypen" value="store" />
                                <input id="newimagenews" type="file" name="file" class="none btn-file-input">
                            </label>
                        </form>
                        <form class="form-controls display-inline" id="uploader_form_newsimage_2" action="" >
                            <label class="btn btn-sm btn-primary btn-file display-inline">
                                <span class="btn-file-text" id="removegraphicbutton">Remove Graphic</span>
                            </label>
                        </form>
                    </div>
                    <div class="clearfix form-item">
                        <div class="row">
                            <div class="col-md-8">
                                <label class="label-text" for="Templates">
                                    More Information Link -
                                    <em>Optional</em>
                                </label>
                                <input class="" value="" placeholder="http://" type="text" name="moreInfoLink" id="moreInfoLink">
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix form-item row">
                        <div class="col-sm-6" style="padding-left: 0px">
                            <label class="label-text" for="newsEventPostDate">
                                Post On
                            </label>
                            <input class="resize-false" value="" placeholder="" type="date" name="newsEventPostDate" id="newsEventPostDate" style="width: 150px">
                        </div>
                        <div class="col-sm-6" style="padding-left: 0px">
                            <label class="label-text" for="newsEventRemoveDate">
                                Remove On
                            </label>
                            <input class="resize-false" value="" placeholder="" type="date" name="newsEventRemoveDate" id="newsEventRemoveDate" style="width: 150px">
                        </div>
                    </div>



                </div>

                <!--  /#newsEventsPromotionsForm -->

            </div>

        </div>
</section>
</div>
