<section id="social" class="mustache-template form-section clearfix">
  <div class="clearfix">
    <div class="col-xs-12">
      <label class="label-text" for="socialFacebook">
        <h2 class="store-social-label">Social</h2>
      </label>
    </div>
    <div class="col-sm-6">
      <div class="clearfix form-item">
        <label class="label-text" for="socialFacebook">
          Facebook
          <small class="small display-block">
            <a href="https://facebook.com" target="_blank">
              (Facebook URL Instructions)
            </a>
          </small>
        </label>
        <div class="characterLimit">
          <input data-maxlength="500" class="characterLimitInput" value="" placeholder="https://www.facebook.com/sharer/sharer.php?u=http%3A//testmarketing.vioc.com/" type="text" name="socialFacebook" id="socialFacebook">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="clearfix form-item">
        <label class="label-text" for="socialTwitter">
          Twitter
          <small class="small display-block">
            <a href="https://twitter.com" target="_blank">
              (Twitter URL Instructions)
            </a>
          </small>
        </label>
        <div class="characterLimit">
          <input data-maxlength="500" class="characterLimitInput" value="" placeholder="https://twitter.com/home?status=http%3A//testmarketing.vioc.com/" type="text" name="socialTwitter" id="socialTwitter">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="clearfix form-item">
        <label class="label-text" for="socialGoogle+">
          Google+
          <small class="small display-block">
            <a href="https://google.com" target="_blank">
              (Google+ URL Instructions)
            </a>
          </small>
        </label>
        <div class="characterLimit">
          <input data-maxlength="500" class="characterLimitInput" value="" placeholder="https://plus.google.com/share?url=http%3A//testmarketing.vioc.com/" type="text" name="socialGoogle+" id="socialGoogle+">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="clearfix form-item">
        <label class="label-text" for="socialGoogle+myBusiness">
          Google+ My Business
          <small class="small display-block">
            <a href="https://google.com" target="_blank">
              (Google+ My Business URL Instructions)
            </a>
          </small>
        </label>
        <div class="characterLimit">
          <input data-maxlength="500" class="characterLimitInput" value="" placeholder="https://plus.google.com/share?url=http%3A//testmarketing.vioc.com/" type="text" name="socialGoogle+myBusiness" id="socialGoogle+myBusiness">
        </div>
      </div>
    </div>
</section>
