@font-face {
  font-family: 'HelveticaNeueLT-Thin';
  src: url('../fonts/HelveticaNeueLT-Thin_gdi.eot');
  src: url('../fonts/HelveticaNeueLT-Thin_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLT-Thin_gdi.woff') format('woff'), url('../fonts/HelveticaNeueLT-Thin_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueLT-Thin_gdi.otf') format('opentype'), url('../fonts/HelveticaNeueLT-Thin_gdi.svg#HelveticaNeueLT-Thin') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: 'HelveticaNeueLT-LightCond';
  src: url('../fonts/HelveticaNeueLT-LightCond_gdi.eot');
  src: url('../fonts/HelveticaNeueLT-LightCond_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLT-LightCond_gdi.woff') format('woff'), url('../fonts/HelveticaNeueLT-LightCond_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueLT-LightCond_gdi.otf') format('opentype'), url('../fonts/HelveticaNeueLT-LightCond_gdi.svg#HelveticaNeueLT-LightCond') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E002;
}
@font-face {
  font-family: 'HelveticaNeueLT-Condensed';
  src: url('../fonts/HelveticaNeueLT-Condensed_gdi.eot');
  src: url('../fonts/HelveticaNeueLT-Condensed_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLT-Condensed_gdi.woff') format('woff'), url('../fonts/HelveticaNeueLT-Condensed_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueLT-Condensed_gdi.otf') format('opentype'), url('../fonts/HelveticaNeueLT-Condensed_gdi.svg#HelveticaNeueLT-Condensed') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0001-2122;
}
@font-face {
  font-family: 'HelveticaNeueLT-BoldCond';
  src: url('../fonts/HelveticaNeueLT-BoldCond_gdi.eot');
  src: url('../fonts/HelveticaNeueLT-BoldCond_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLT-BoldCond_gdi.woff') format('woff'), url('../fonts/HelveticaNeueLT-BoldCond_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueLT-BoldCond_gdi.otf') format('opentype'), url('../fonts/HelveticaNeueLT-BoldCond_gdi.svg#HelveticaNeueLT-BoldCond') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0001-2122;
}
