a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}
h1, h2, h3, h4 {
  font: inherit
}
h1, h2, h3, h4, p, sup {
  padding: 0;
  border: 0
}
h1, h2, h3, h4, p {
  vertical-align: baseline
}
sup {
  margin: 0;
  font: inherit;
  vertical-align: super!important;
  font-size: .7em!important;
  line-height: .7em!important
}
#with-us .email.hovering .hidevioc, #with-us .email:hover .hidevioc, #with-us .phone:hover .hidevioc, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}
.email-box.hidevioc {
  display: none!important;
}
body {
  line-height: normal;
  height: auto;
  min-height: 100%;
  overflow: hidden
}
ol, ul {
  list-style: none
}
blockquote, q {
  quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
*, body, html {
  font-family: Arial, sans-serif
}
body, html {
  text-align: center;
  overflow-x: hidden
}
html {
  font-size: 14px;
}
@media all and (min-width:1024px) {
  html {
    font-size: 1em;
    font-size: 1vw
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.04, rgba(224, 41, 38, 0.95)), color-stop(.62, rgb(0, 72, 144)), color-stop(.86, rgb(73, 125, 189)));
}
form#aspnetForm {
  position: relative;
  margin-bottom: -40px;
  overflow: hidden;
  height: auto;
  min-height: 100%
}
.noscroll {
  height: 100%;
  overflow: hidden
}
.container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 0 1%;
  margin-bottom: 1em
}
#locations_area, #mobile-sem, .mobile {
  display: none
}
@media screen {
  * html {
    overflow-y: hidden
  }
  * html body {
    height: auto;
    min-height: 100%;
    overflow: auto
  }
}
.page {
  max-width: 1200px;
  position: relative;
  padding: 0 10px;
  margin: 0 auto
}
.clear {
  clear: both
}
input, select, textarea {
  font-size: 1em
}
.center {
  text-align: center
}
#store_services UL B, h1, h2, h3, h4, h5, strong {
  font-weight: 700
}
.yelp #coupons #coupon_print {
  top: 32%
}
@media only screen and (max-width:640px) {
  .yelp #coupons #headline {
    background: #fff
  }
  .yelp #coupons #headline h1, .yelp #coupons #headline h2 {
    color: #0281aa
  }
}
#header {
  background: #e1e1e1;
  background: #efefef url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fff 0%, #e1e1e1 100%);
  background: linear-gradient(to bottom, #fff 0%, #e1e1e1 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
  text-align: right;
  font-size: .9em
}
#header .page, p.disclaimer {
  text-align: left
}
#header a, #header li, #header ul {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline
}
#header ul {
  height: 30px;
  margin: 0 0 0 170px
}
#header a, #header li {
  margin: 0
}
#header li {
  border-right: 1px solid #fff
}
#header a {
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding-right: 10px
}
#header a:hover {
  background-color: #fff
}
#header a.coupons {
  background-image: url(../images/coupon-icon.png)
}
#header a.coupons, #header a.coupons.current, #header a.location {
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 32px
}
#header a.coupons.current {
  background-image: url(../images/coupon-icon-over.png)
}
#header a.location {
  background-image: url(../images/location-icon.png)
}
#header a.drive-thru, #header a.drive-thru.current, #header a.location.current {
  background-repeat: no-repeat;
  background-position: 0 center
}
#header a.location.current {
  background-image: url(../images/location-icon-over.png);
  padding-left: 32px
}
#header a.drive-thru {
  background-image: url(../images/drive-icon.png);
  padding-left: 40px
}
#header a.drive-thru.current {
  padding-left: 40px;
  background-image: url(../images/drive-icon-over.png)
}
#header a.hours, #header a.hours.current, #header a.services, #header a.services.current {
  background-repeat: no-repeat;
  background-position: 0 center
}
#header a.services, #header a.services.current {
  background-image: url(../images/services-icon.png);
  padding-left: 35px
}
#header a.services.current {
  background-image: url(../images/services-icon-over.png)
}
#header a.hours {
  background-image: url(../images/hour-icon.png);
  padding-left: 40px
}
#header .email, #header a.hours.current {
  padding-left: 40px;
  background-image: url(../images/hour-icon-over.png)
}
#header .print {
  position: absolute;
  right: 1%;
  top: 0
}
#header a.current {
  background-color: #ff0d01;
  color: #fff
}
#header .email {
  background-image: url(../images/icon_email.png)
}
#header .text {
  background-image: url(../images/icon_text.png);
  padding-left: 30px
}
#header .print {
  background-image: url(../images/icon_print.png);
  padding-left: 40px
}
#coupon_area {
  background-image: url(../images/bg_metal.jpg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #fff;
  position: relative
}
#coupon_area .page {
  background-image: url(../images/bg_pylon.png);
  background-repeat: repeat-y;
  background-position: 6.3% bottom;
  background-size: 4.7% 100%;
  min-height: 350px
}
#coupon_area .pylon {
  width: 18%;
  float: left;
  text-align: left
}
#coupon_area .pylon img {
  position: relative;
  top: -15px;
  left: -5px;
  max-width: 100%
}
#coupon_area .pylon .car-list {
  background: #fff;
  padding: 10px;
  border: 1px solid #999;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  position: absolute;
  width: 15%;
  z-index: 200
}
#coupon_area .pylon .car-list b {
  font-weight: 700;
  display: block;
  margin-bottom: 10px
}
#coupon_area .pylon .car-list ul {
  list-style-type: disc;
  margin-left: 20px
}
#coupon_print {
  z-index: 10
}
#coupon_area .print {
  display: block;
  overflow: hidden;
  z-index: 4;
  position: relative
}
.pylon a.sl-coupon-link {
  text-decoration: none
}
#headline {
  width: 81%;
  float: left
}
#headline h1 {
  font-size: 2.2em;
  font-weight: 400
}
#headline h2:empty, #headline img, #headline p:empty {
  display: none
}
#headline [id$=headlineSub] {
  font-weight: 400;
  color: #666;
  font-size: 1.6em
}
#headline img[src] {
  display: inline-block;
  float: right;
  height: 110px;
  margin: 15px 0
}
#coupon_area .coupon_details .print, #coupon_print a:hover img.flat, #coupon_print img.hover {
  display: none
}
#coupon_print img, .row img {
  max-width: 100%
}
#coupon_print a:hover img.hover {
  display: inline
}
#coupon_print {
  width: 21%;
  position: absolute;
  top: 11%;
  left: 39.5%
}
#coupons {
  position: relative;
  width: 81%;
  float: left;
  text-align: left;
  font-family: 'Oswald', sans-serif
}
#coupon_area .coupon_snugDesc {
  width: 160px;
  margin-left: 50%;
  text-align: left;
  margin-top: -50px;
  height: 75px;
  font-size: 1.5em
}
#fourstar {
  font-family: 'Arimo', sans-serif;
  text-align: left;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #666;
  background: #fff;
  background: rgba(255, 255, 255, .6);
  border: 3px solid #bebebe;
  border: 3px solid rgba(190, 190, 190, .6);
  margin: 15px 0
}
#fourstar .survey {
  font-size: 12px;
  font-weight: 400;
  display: block
}
#fourstar img {
  float: left;
  margin: 3px 2% 0 0;
  width: 16%
}
#coupons H1 {
  font-size: 2.5em;
  margin: 10px 0;
  color: #0281aa;
  font-weight: 400
}
#coupon_primary, #coupon_secondary {
  width: 49%;
  text-align: center;
  position: relative;
  cursor: pointer
}
#coupon_primary {
  float: left;
  color: #0c2577;
  border-color: #0c2577
}
#coupon_primary, #coupon_primary .coupon_details {
  background-color: #0c2577
}
#coupon_secondary {
  float: right;
  border-color: #ff0d01;
  color: #ff0d01
}
#coupon_secondary, #coupon_secondary .coupon_details {
  background-color: #ff0d01
}
.coupon_content {
  background-color: #fff;
  border: solid 10px;
  border-color: inherit;
  margin: 0;
  padding: 20px 0 0;
  font-weight: 700;
  vertical-align: text-top;
  position: relative
}
.coupon_formatedAmount {
  font-size: 3em;
  line-height: 1em;
  vertical-align: super;
  z-index: 3;
  position: relative;
  text-transform: uppercase;
  top: -45px;
  margin-top: -10px;
  margin-bottom: 20px
}
.coupon_formatedAmount span {
  font-size: 2.5em;
  line-height: 1.1em;
  vertical-align: baseline;
  position: relative;
  top: 55px
}
.ie9 .coupon_formatedAmount {
  margin-bottom: -18px
}
.coupon_originalAmount {
  font-size: .65em;
  font-weight: 400;
  line-height: normal;
  vertical-align: text-top;
  z-index: 3;
  position: absolute;
  text-align: left;
  top: 10px;
  left: 10px;
  color: #666
}
.coupon_originalAmount .strike {
  font-size: 2.1em;
  text-decoration: line-through
}
.coupon_formatedAmount_highlight {
  font-size: 2.5em;
  line-height: 1.1em;
  vertical-align: text-top;
  z-index: 3;
  position: relative
}
.ie9 .coupon_formatedAmount_highlight {
  top: -18px
}
.ie7 .coupon_formatedAmount_highlight, .ie8 .coupon_formatedAmount_highlight {
  vertical-align: top;
  top: -10px
}
.coupon_offerText {
  line-height: 1.6;
  font-size: 1.5em;
  color: #333;
  font-weight: 400;
  z-index: 2;
  position: relative;
  margin: 0 20%;
  min-height: 110px
}
.coupon_couponDesc {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  margin-bottom: 1em
}
.coupon_details {
  margin: 10px 0 0;
  padding: 10px 0 0;
  color: #fff
}
.coupon_couponCode {
  float: left
}
.coupon_expiration {
  float: right
}
.coupon_pylon {
  position: absolute;
  width: 72px;
  height: 152px;
  z-index: 1;
  display: none
}
.coupon_yelp {
  display: none
}
.main, .main.plated {
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #fff
}
.main {
  text-align: left;
  color: #666;
  background-image: url(../images/bg-gradient.jpg)
}
.main .page {
  background-image: url(../images/bg_pylon.png);
  background-repeat: repeat-y;
  background-position: 6.3% bottom;
  background-size: 6% 100%
}
.main.plated {
  background-image: url(../images/bg_metal.jpg)
}
.main .page .pylon {
  position: absolute
}
.main .services a {
  width: 33%;
  float: left;
  font-size: 18px;
  font-family: 'Oswald';
  font-weight: 700
}
.main .services .description {
  display: none
}
.main h1 sup {
  font-size: 16px!important
}
.main table {
  width: 100%;
  text-align: center;
  margin-bottom: 25px
}
.main table th {
  background: #1381a8;
  width: 96px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 16px;
  padding: 7px 0
}
.main table td {
  background: #c9e9f5;
  width: 96px;
  color: #666;
  font-size: 16px;
  padding: 10px 0
}
.main table td.blank {
  background: 0 0;
  width: 3px
}
#modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  z-index: 99999999;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  opacity: 0
}
#modal-bg.show {
  display: block;
  opacity: 1
}
#modal {
  background: #fff;
  border-radius: 7px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 40%;
  max-height: 90%;
  margin: auto;
  padding: 25px;
  text-align: left;
  color: #333;
  min-width: 600px
}
#modal>:first-child {
  margin-top: 0
}
#modal iframe {
  border: 0;
  width: 100%;
  height: 100%;
  min-height: 450px
}
#modal a.close-button {
  background: url(../images/modal-close.png) top left no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer
}
#modal h1, #modal h2 {
  font-weight: 400
}
#modal h2 {
  font-size: 1.6em
}
#modal h3 {
  color: #fc161c;
  font-size: 19px;
  font-family: 'Oswald';
  margin-top: 0;
  margin-bottom: 1px
}
#modal p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #333
}
#modal .buttons {
  text-align: center;
  margin-top: 20px
}
#modal .accept, #modal .btn, #modal .decline {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-family: 'Oswald';
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
#modal .accept, #modal .decline {
  width: 120px;
  line-height: 1.1;
  padding: 10px;
  font-size: 2em
}
#modal .btn {
  background-color: #ff0d01;
  line-height: 1;
  padding: 10px 20px;
  font-size: 1.5em
}
#modal .accept:hover, #modal .btn:hover, #modal .decline:hover {
  opacity: .8
}
#modal .accept {
  background-color: #27a933
}
#modal .decline {
  background-color: #ff0d01
}
#modal h3+p {
  margin-top: 0
}
#modal cite, #modal ul {
  line-height: 20px;
  color: #333
}
#modal ul {
  margin-bottom: 30px;
  list-style-type: disc;
  margin-left: 30px;
  font-size: 16px
}
#modal cite {
  margin-top: 40px;
  font-size: 14px;
  display: block
}
.coupon-area {
  position: relative;
  top: 325px;
  z-index: 50;
  text-align: center
}
.coupon-area .coupon {
  background: #fff;
  width: 156px;
  min-height: 110px;
  text-align: center
}
.coupon-area .coupon h2 {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 0
}
.coupon-area .coupon h2>span {
  font-size: 20px;
  vertical-align: top
}
.coupon-area .coupon h2>span span {
  font-size: 32px;
  position: relative;
  top: -2px
}
.coupon-area .coupon h2 sup {
  font-size: 16px!important;
  position: relative;
  top: -2px
}
.coupon-area .coupon p {
  padding: 0 10px;
  font-size: 13px;
  font-family: 'Oswald';
  color: #333;
  margin-top: 0;
  line-height: 16px
}
.coupon-area .coupon .details {
  color: #fff;
  font-family: 'Oswald';
  font-size: 14px;
  position: relative;
  height: 21px
}
.coupon-area .coupon .details .left {
  position: absolute;
  left: 8px
}
.coupon-area .coupon .details .right {
  position: absolute;
  right: 6px
}
.coupon-area .coupon.blue {
  border: 2px solid #0c2577
}
.coupon-area .coupon.blue h2 {
  color: #0c2577
}
.coupon-area .coupon.blue .details {
  background: #0c2577
}
.coupon-area .coupon.red {
  border: 2px solid #ff0d01
}
.input-error {
  border: 1px solid #ff0d01
}
#location_states li.back, .coupon-area .coupon.red h2, a:active {
  color: #ff0d01
}
.coupon-area .coupon.red .details {
  background: #ff0d01
}
.coupon-area .print-icon {
  background: url(../images/print-icon.png) top left no-repeat;
  width: 44px;
  height: 44px;
  display: inline-block;
  margin: 2px 0
}
#locations_area {
  background-image: url(../images/bg_metal.jpg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #fff;
  text-align: left;
  color: #666
}
#locations_area .page, #recommend_area .page {
  background-image: url(../images/bg_pylon.png);
  background-repeat: repeat-y;
  background-position: 6.3% bottom;
  background-size: 6% 100%
}
#locations_area .pylon {
  width: 18%;
  float: left
}
#location_select {
  width: 27%;
  float: left
}
#location_select h2 {
  color: #0281aa;
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif
}
#location_select select {
  width: 100%;
  margin-bottom: 10px
}
#location_select ul {
  list-style: disc;
  margin: 3px 0 3px 1.4em
}
#location_select li {
  padding: 3px 0
}
#location_select .padded {
  padding: 15px
}
#filters label, #location_select .state {
  display: none
}
#location_select .state a {
  display: block;
  color: #24b6ed;
  font-size: .9em;
  float: left;
  padding: 10px 0;
  clear: both
}
#recommend_area {
  background: #fff;
  background: #eee url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ddd));
  background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
  background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
  text-align: left
}
#recommend_area .page {
  padding: 30px 0 35px
}
#recommend_area p {
  font-size: 16px;
  line-height: 20px;
  padding-left: 180px;
  width: 500px;
  float: left
}
#recommend_area img {
  margin-right: 50px
}
#content_area {
  margin-left: 170px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  padding: 20px 30px;
  background-color: #f7f7f7;
  background-image: url(../images/content-bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #333
}
#content_area h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0
}
#content_area h2, #content_area h3 {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  color: #666
}
#content_area h3 {
  margin-bottom: 5px;
  color: #ff0d01
}
#content_area ul {
  list-style-type: disc;
  margin-left: 25px
}
#content_area ul li {
  margin: 3px 0
}
#content_area p {
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 25px
}
#content_area .product {
  float: left;
  margin-left: 30px;
  width: 211px;
  margin-top: 25px
}
#content_area .product:first-child {
  margin-left: 0
}
#content_area cite {
  font-size: 14px;
  line-height: 18px
}
#maps {
  width: 55%;
  height: 400px;
  float: left;
  position: relative;
  background-color: #ccc
}
#map_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  overflow: hidden;
  z-index: 100;
  background: #004790;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDc5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDM0NmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004790), color-stop(100%, #00346f));
  background: -webkit-linear-gradient(top, #004790 0%, #00346f 100%);
  background: linear-gradient(to bottom, #004790 0%, #00346f 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#004790', endColorstr='#00346f', GradientType=0);
  text-align: left
}
#searchBar {
  position: relative;
  margin-left: 100px
}
#searchBar .inside {
  padding: 10px 25px 10px 10px;
  position: relative
}
#searchBar .field {
  border: 0;
  width: 100%;
  height: 24px;
  right: 0;
  background-repeat: repeat-x;
  background-position: center top;
  padding: 0 8px;
  line-height: 24px;
  position: relative;
  border-radius: 13px;
  color: #666
}
#searchBar .button {
  display: block;
  border: 0;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  height: 20px;
  line-height: 19px;
  background-color: #b02b28;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  *margin-right: 15px;
  *top: 13px;
  color: #fff;
  border-radius: 10px
}
.resultsTitle {
  color: #fff;
  font-size: 18px;
  padding-bottom: 10px
}
#wrapper {
  position: absolute;
  overflow: auto;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  padding: 0;
  *overflow-y: scroll;
  text-align: left
}
#defaultView, #results, #valvLocations {
  padding: 3px 0 0;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
#defaultView h3, #results h3, #valvLocations h3 {
  font-size: 1.3em;
  margin: 0;
  color: #fff
}
#results .hours, #valvLocations .hours {
  border-radius: 3px;
  background-color: #d9d9d9;
  font-size: .9em;
  width: 100%;
  padding: 2px 0;
  margin-top: 5px
}
#results .hours td, #valvLocations .hours td {
  text-align: center;
  padding: 0
}
#results .inside, #valvLocations .inside {
  background-repeat: repeat-x;
  background-position: center top;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 5px;
  font-size: .9em;
  color: #333
}
#defaultView .inside h3, #results .inside h3, #valvLocations .inside h3 {
  color: #000
}
#results .bottom, #valvLocations .bottom {
  padding: 4px 10px;
  text-align: right;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  font-size: .85em;
  font-weight: 700
}
.locationEC, .locationOther, .locationRetail, .locationVIOC {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}
.locationVIOC {
  background-color: #ee4239
}
.locationEC {
  background-color: #199dd3
}
.locationRetail {
  background-color: #efd337
}
.locationOther {
  background-color: #35b435
}
#logo {
  display: block;
  width: 91px;
  height: 22px;
  overflow: hidden;
  text-indent: -9000px;
  margin: 14px 0 0 8px
}
#filters, #filtersTab {
  position: absolute;
  z-index: 90
}
#filters {
  top: 10px;
  left: 10px;
  height: 40px
}
#filters .inside {
  position: relative
}
#filtersTab {
  bottom: -24px;
  right: 0;
  width: 142px;
  height: 35px;
  text-align: center
}
#filtersToggle {
  display: block;
  width: 100px;
  height: 33px;
  margin: -2px auto;
  overflow: hidden;
  text-indent: -9000px
}
#listViewLink, #mapViewLink {
  text-align: left;
  background-color: #68a8c5;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}
#listViewLink a, #mapViewLink a {
  display: inline-block;
  background-repeat: no-repeat;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  width: 90px;
  text-align: center
}
.list #listViewLink, .list #map, .map #mapViewLink, .map #results, .map #valvLocations, .map #viocLocations {
  display: none
}
#btnEC input, #btnOther input, #btnRetail input, #btnVIOC input {
  position: relative;
  margin: 0 5px 0 0;
  top: 2px
}
#btnEC, #btnOther, #btnRetail, #btnVIOC {
  cursor: pointer;
  display: block;
  height: 25px;
  border-radius: 13px;
  background-repeat: repeat-x;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-size: .8em;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
  padding-left: 10px;
  margin-bottom: 10px
}
#map, #map_print {
  position: absolute
}
#map {
  bottom: 0;
  z-index: 60;
  top: 45px;
  left: 0;
  width: 100%
}
#map_print {
  width: 240px;
  height: 180px;
  left: -9999px;
  top: -9999px
}
#loading {
  width: 100%
}
#map_container, #map_print_container {
  width: 100%;
  height: 100%
}
#loading {
  position: relative;
  bottom: 51px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #000;
  overflow: hidden;
  border-top: 1px solid #999
}
#loading .progress {
  background-color: #fff;
  height: 5px;
  width: 0%
}
.list #loading, .map .loading {
  display: none
}
.loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 50
}
#preload, .loading .progress {
  font-weight: 700;
  text-align: center
}
.loading .progress {
  top: 47%;
  width: 100%;
  position: relative;
  left: 0;
  font-size: .9em;
  color: #fff
}
#preload {
  position: absolute;
  left: 20%;
  right: 20%;
  background-color: #c4dae5;
  color: #14387c;
  z-index: 1000;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px #333;
  font-size: 1.1em
}
#preload a {
  display: inline-block;
  background-color: #71a7c3;
  color: #fff;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px #999;
  cursor: pointer;
  z-index: 10
}
#connect_bar {
  background: url(../images/connect_bg.jpg) repeat-x bottom;
  text-align: left;
  font-size: .9em;
  z-index: 1000;
  height: 40px
}
#connect_bar, #connect_bar.normal {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1%
}
#connect_bar .page {
  padding: 4px 0;
  background: 0 0
}
.hidevioc {
  display: none
}
#with-us {
  float: left;
  list-style-type: none
}
#with-us li {
  float: left;
  margin: 0 8px 0 0;
  position: relative
}
#with-us .connect {
  padding: 7px 0 0
}
#with-us .email {
  width: 32px;
  height: 32px;
  background: url(../images/email-icon.png) no-repeat;
  z-index: 100;
  position: relative
}
#with-us .email #email-form {
  background: url(../images/hover-bg.png) no-repeat;
  position: absolute;
  width: 184px;
  height: 130px;
  top: -102px;
  padding: 7px 0 0 20px;
  z-index: 9999
}
#with-us .email .close {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000
}
#with-us .email #email-form p, #with-us .phone #phone-form p {
  line-height: 13px
}
#with-us .phone {
  width: 32px;
  height: 32px;
  background: url(../images/phone-icon.png) no-repeat;
  z-index: 80
}
#with-us .heading {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 5px
}
#with-us p {
  color: #fff;
  font-size: 11px;
  margin: 2px 0
}
#with-us .email-box {
  float: left;
  height: 27px;
  background: url(../images/search-field.png) no-repeat;
  margin: 5px 0 0;
  width: 70%;
  margin-right: 8px
}
#enter-mobile input[type=text], #with-us input[type=text] {
  float: left;
  width: 118px;
  height: 23px;
  margin: 0 5px 0 0;
  background: 0 0;
  border: none;
  padding: 4px 5px 0;
  color: #999
}
#enter-mobile input[type=submit], #with-us input[type=button] {
  float: left;
  width: 27px;
  height: 27px;
  background: url(../images/go.png) no-repeat 0 0;
  border: none;
  cursor: pointer;
  margin: 3px 0 0
}
#enter-mobile input[type=submit]:hover, #with-us input[type=button]:hover, #with-us input[type=button]:focus , #with-us input[type=button]:hover:focus {
  background-position: 0 -27px
}
#with-us .phone #phone-form {
  background: url(../images/hover-phone-bg.png) no-repeat;
  position: absolute;
  width: 174px;
  height: 159px;
  top: -142px;
  padding: 15px 10px 0 20px
}
#enter-mobile .three, #with-us .phone .three {
  width: 36px;
  height: 27px;
  background: url(../images/digit-3-bg.png) no-repeat;
  float: left;
  margin: 5px 6px 0 0
}
#enter-mobile .three input, #with-us .phone .three input {
  width: 31px;
  height: 23px;
  color: #ccc;
  padding: 4px 0 0 5px
}
#enter-mobile .four, #with-us .phone .four {
  width: 46px;
  height: 27px;
  background: url(../images/digit-4-bg.png) no-repeat;
  float: left;
  margin: 5px 6px 0 0
}
#enter-mobile .four input, #with-us .phone .four input {
  width: 41px;
  height: 23px;
  color: #ccc;
  padding: 4px 0 0 5px
}
#with-us .phone .tag {
  float: left;
  clear: left;
  padding: 5px 0 0
}
#networks {
  float: right;
  padding-top: 7px;
  list-style-type: none;
  display: block
}
#networks li {
  float: right;
  margin-left: 10px
}
#footer {
  background-image: url(../images/bg_dark-metal.jpg);
  background-repeat: repeat-x;
  color: #fff;
  text-align: left
}
#footer.normal, .ie7 #search_prompt h2 {
  margin: 0
}
#footer h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Oswald', sans-serif
}
#footer .page {
  padding: 30px 1%
}
#footer .vioc {
  width: 18%;
  float: left
}
#footer .connect {
  width: 52%;
  float: left
}
#footer .connect h4 {
  padding: 10px 0 5px 59px;
  background-position: 10px top;
  background-repeat: no-repeat
}
#footer .connect .padded {
  padding: 0 50px
}
#footer .connect .email, #footer .connect .mobile {
  width: 50%;
  float: none;
  margin: auto
}
#footer .connect .mobile h4 {
  padding: 10px 0 5px 54px
}
#footer .connect .padded .padded {
  padding: 0 10px 10px
}
#footer .connect .email h4 {
  background-image: url(../images/footer_email-icon.png)
}
#footer .connect .mobile h4 {
  background-image: url(../images/footer_mobile-icon.png)
}
#footer .connect .button, #footer .connect .form {
  border-radius: 10px;
  border: 2px solid #fff
}
#footer .connect .form {
  background-color: #464646;
  padding: 6px 9px 1px 7px;
  font-size: .85em
}
#footer .connect input, #footer .connect span {
  line-height: 1.9em;
  border: 1px solid #e1e1e1;
  display: block;
  width: 100%;
  padding: 0;
  margin: 1px 0 6px;
  text-indent: 5px;
  color: #777
}
#footer .connect input {
  line-height: 1.5em;
  display: inline-block;
  padding: 6px 2px;
  margin: 1px 0 6px;
  min-height: 2em;
  box-sizing: border-box;
  overflow: visible;
}
#footer .connect span {
  border: 1px solid transparent;
  color: #fff
}
.ie7 #footer .connect input, .ie8 #footer .connect input, .ie9 #footer .connect input {
  height: 2.2em
}
.ie7 #footer .connect .form {
  padding-bottom: 6px!important
}
.ie6 .hours td, .ie7 .hours td, .ie8 .hours td, .ie9 .hours td {
  font-size: .7em;
  padding: 0 2px 5px
}
#footer .quality {
  width: 30%;
  float: left
}
#footer .connect .button {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #89bcd4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5YmNkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTgxOTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89bcd4), color-stop(100%, #4e8199));
  background: -webkit-linear-gradient(top, #89bcd4 0%, #4e8199 100%);
  background: linear-gradient(to bottom, #89bcd4 0%, #4e8199 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#89bcd4', endColorstr='#4e8199', GradientType=0);
  padding: 8px 15px;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none
}
.ie9 #footer .connect .button {
  -webkit-filter: none;
  filter: none
}
#footer .engine-guarantee, #footer .nextgen {
  padding: 10px 0 10px 105px;
  background-repeat: no-repeat
}
#footer .nextgen {
  background-image: url(../images/nextgen.png);
  background-position: left center
}
#footer .engine-guarantee {
  background-image: url(../images/engine-guarantee.png);
  background-position: 15px center
}
#disclaimers a, #footer a, .email h4 {
  color: #fff
}
#store_phone {
  display: none
}
#storeDetails {
  text-align: left;
  display: none
}
#store_services P, #store_services h3 {
  padding-left: 20px
}
#store_hours, #store_services {
  width: 30%;
  float: left;
  padding: 20px 0
}
#store_services {
  width: 70%
}
#store_hours th {
  font-weight: 700;
  padding: 0 10px 5px 0
}
#store_services ul {
  display: block;
  float: left;
  padding-left: 20px;
  width: 45%
}
#store_services li {
  list-style-type: disc;
  margin-left: 16px
}
#disclaimers {
  background: #242424;
  color: #fff;
  text-align: left;
  font-size: .8em
}
#fourStars {
  float: right;
  width: 30%;
  position: relative;
  padding: 0 0 20px 20px
}
body {
  font-size: 100%
}
h1 {
  font-size: 2em
}
h1, h2, h3, h4 {
  font-family: 'Oswald', Impact, Arial, sans-serif;
  margin: 12px 0
}
h4, p {
  color: #666
}
h4 {
  font-size: 1.125em;
  margin: 6px 0
}
h2 {
  font-size: 1.75em
}
h3 {
  font-size: 1.5em
}
p {
  font: 14px/18px Helvetica, Arial, sans-serif;
  margin: 12px 0
}
a, a:visited, h1, h2, h3 {
  color: #0b85ad
}
#wrap_location {
  overflow: hidden;
  height: 355px;
  width: 100%;
  background: url(../images/bg_location.png) repeat-x
}
#location_column, #location_search, #wrap_location {
  position: relative
}
#location_search {
  margin: 0 auto;
  width: 100%;
  height: 355px
}
#location_state_cities, #location_states {
  margin: 0 auto
}
#location_sidebar_localimage, .location_sidebar {
  position: relative;
  height: 355px;
  float: left;
  overflow: hidden
}
.location_sidebar {
  display: inline-block;
  padding: 0;
  width: 28%
}
#sidebar_wrap {
  position: relative;
  width: 200%
}
#location_sidebar_localimage {
  width: 19%
}
#location_sidebar_localimage>img {
  position: relative;
  display: none
}
#location_sidebar_search {
  padding: 0
}
#location_sidebar_search .inside {
  padding-right: 10px
}
#location_sidebar_search h3 {
  margin: 2em 0
}
#location_sidebar_results, #location_sidebar_search {
  width: 50%;
  height: 355px;
  float: left;
  display: inline-block;
  position: relative
}
#sidebar_search_list {
  float: left;
  display: inline-block;
  width: 103%;
  height: 267px;
  background-color: #fff
}
#content, #sidebar_search_list, #sidebar_search_list_inside {
  overflow: hidden;
  position: relative
}
#sidebar_search_list_inside {
  height: 220px
}
#content {
  width: 53%;
  height: 355px;
  display: inline-block
}
#content_wrap {
  position: relative;
  height: 100%
}
#location_map {
  box-shadow: 0 0 10px rgba(0, 0, 0, .57) inset;
  width: 100%;
  height: 355px;
  display: block;
  background: url(../images/map_placeholder.jpg) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden
}
#location_textinput {
  width: 90%;
  height: 30px;
  border: 1px solid #0b85ad;
  border-radius: 10px;
  font: 1em/1.5em Helvetica, Arial, sans-serif;
  color: #999;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3) inset;
  padding: 0 10px
}
#location_textinput:focus {
  color: #666
}
.search_button, input[type=button].search_button {
  font: 700 1.2em/2em 'Oswald', Impact, Arial, sans-serif;
  color: #fff;
  display: inline-block;
  border: 0;
  border-radius: 10px;
  padding: 0 6%;
  margin: 15px 0;
  text-decoration: none
}
#submit, input[type=button].search_button#submit {
  background: #ff0d01;
  cursor: pointer;
  color: #fff
}
#detect, input[type=button].search_button#detect {
  color: #fff;
  background: #0b85ad;
  float: right;
  cursor: pointer
}
#find_store, input[type=button].search_button#find_store {
  width: 88%;
  float: left;
  text-align: center;
  color: #fff;
  background: #0b85ad;
  cursor: pointer
}
#find_store {
  width: auto;
  color: #fff;
  background: #0b85ad;
  float: none;
  padding: 1% 6%;
  font-size: 1.4em;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.27), inset 0 0 3px 3px #097295;
  border: 0.4em solid #fff;
  border-radius: 50px;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 4px #0b4e65;
}
#find_store:hover {
  cursor: pointer!important;
}
#search_prompt {
  background: url(../images/bg_label.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: -61%;
  left: 47%;
  width: 50%;
  z-index: 100
}
#search_prompt h2 {
  position: relative;
  margin: 0;
  padding-bottom: .5%;
  left: 10%;
  line-height: 3.5em
}
.centered {
  text-align: center
}
#location_state_cities, #location_states {
  width: 81%;
  height: 355px;
  position: relative;
  margin-left: 18%
}
#cities {
  overflow: hidden;
  height: 308px;
  position: relative
}
#location_states li {
  color: #0b85ad;
  font-family: 'Oswald', Impact, Arial, sans-serif;
  line-height: 45px;
  width: 16.666%;
  height: 44px;
  list-style: none;
  background: url(../images/bg_state.png) no-repeat
}
#location_states li a, .cities li a {
  display: block;
  line-height: 45px;
  padding-left: 15px;
  text-decoration: none
}
#location_states li a:hover {
  color: #ff0d01;
  cursor: pointer
}
#location_states li.col-top {
  margin-top: -352px
}
.ie7 #location_states li.col-top {
  margin-top: -360px
}
#location_states li.col2 {
  margin-left: 16.66666%
}
#location_states li.col3 {
  margin-left: 33.33333%
}
#location_states li.col4 {
  margin-left: 50%
}
#location_states li.col5 {
  margin-left: 66.66666%
}
#location_states li.col6 {
  margin-left: 83.33333%
}
.cities {
  display: none;
  position: relative
}
#back_state, .cities li {
  float: left;
  cursor: pointer
}
#back_state, #state_pagenumber, .cities li {
  font-family: 'Oswald', Impact, Arial, sans-serif;
  text-transform: uppercase
}
.cities li {
  list-style: none;
  background: url(../images/bg_city.png) no-repeat;
  position: relative;
  color: #0b85ad;
  width: 33.3333%;
  height: 44px
}
.cities li.blank {
  background: 0 0!important
}
#back_state, #state_pagenumber {
  line-height: 47px;
  height: 47px;
  background: #fff url(../images/bg_city.png) no-repeat;
  display: inline-block
}
#back_state {
  color: #ff0d01;
  width: 33.33333%
}
#back_state img, #state_pagenumber .state {
  margin-left: 15px
}
#state_pagenumber {
  color: #0b85ad;
  width: 66.66666%;
  list-style: none
}
.cities li.col-top {
  margin-top: -308px
}
.cities li.col2 {
  margin-left: 260px
}
.cities li.col3 {
  margin-left: 520px
}
.cities li.more {
  color: #ff0d01
}
#back_search, #cities .more, #sidebar_search_location, #view_on_map {
  height: 44px;
  padding-left: 15px;
  font-family: 'Oswald', Impact, Arial, sans-serif;
  line-height: 45px
}
#back_search, #cities .more {
  color: #ff0d01;
  cursor: pointer
}
#cities .more {
  list-style: none;
  background: #dedede url(../images/bg_city.png) no-repeat;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 244px
}
#back_search {
  background: #fff url(../images/bg_city.png) no-repeat;
  display: block;
  text-decoration: none;
  width: 235px
}
#sidebar_search_location, #view_on_map {
  width: 235px
}
#view_on_map {
  background: #fff url(../images/bg_city.png) no-repeat;
  cursor: pointer;
  text-decoration: none;
  display: none;
  color: #ff0d01
}
#sidebar_search_results li {
  overflow-x: hidden;
  text-transform: uppercase;
  color: #0b85ad;
  line-height: 18px;
  width: 100%
}
#sidebar_search_results span {
  display: inline-block;
  width: 500px
}
#sidebar_search_location {
  background: #fff;
  color: #0b85ad;
  position: relative;
  font-weight: 700;
  font-size: 16px
}
#sidebar_search_list .back, #sidebar_search_list .more, #sidebar_search_results li {
  font-family: 'Oswald', Impact, Arial, sans-serif;
  padding: 4px 0 4px 15px;
  list-style: none;
  background: #fff url(../images/bg_city.png) no-repeat
}
#sidebar_search_results li.selected {
  background: #0b85ad;
  color: #fff
}
#sidebar_search_results li.selected:hover {
  color: #fff
}
#sidebar_search_results li:hover {
  color: #ff0d01;
  cursor: pointer
}
#sidebar_search_list .back, #sidebar_search_list .more {
  line-height: 39px;
  color: #ff0d01;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 0;
  display: block
}
#sidebar_search_list .more {
  left: 0;
  width: auto
}
#sidebar_search_list .back {
  width: 50%;
  left: 50%
}
#sidebar_search_list .back.full {
  width: auto;
  left: 0
}
.font_large {
  font-size: 1.1em!important;
  line-height: 1.4!important
}
.text_red {
  color: #ff0d01
}
.text_blue {
  color: #0c2577
}
.p_left {
  padding-left: 15px!important
}
.p_left-sm {
  padding-left: 10px!important
}
.p_right {
  padding-right: 15px!important
}
.p_right-sm {
  padding-right: 10px!important
}
.m_top {
  margin-top: 15px!important
}
.m_top-no {
  margin-top: 0!important
}
.m_top-sm {
  margin-top: 10px!important
}
.m_top-lg {
  margin-top: 30px!important
}
.m_bottom {
  margin-bottom: 15px!important
}
.m_bottom-no {
  margin-bottom: 0!important
}
.m_bottom-lg {
  margin-bottom: 30px!important
}
.m_bottom-sm {
  margin-bottom: 10px!important
}
.nowrap {
  white-space: nowrap
}
.a_center {
  text-align: center
}
.a_right {
  text-align: right
}
.a_left {
  text-align: left
}
.row {
  margin-left: auto;
  margin-right: auto
}
.row:after {
  clear: both;
  content: "";
  display: table
}
.col-1 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 6.77966%;
  min-height: 1px
}
.col-1:last-child {
  margin-right: 0
}
.col-1>:first-child {
  margin-top: 0
}
.col-2 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 15.25424%;
  min-height: 1px
}
.col-2:last-child {
  margin-right: 0
}
.col-2>:first-child {
  margin-top: 0
}
.col-3 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 23.72881%;
  min-height: 1px
}
.col-3:last-child {
  margin-right: 0
}
.col-3>:first-child {
  margin-top: 0
}
.col-4 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 32.20339%;
  min-height: 1px
}
.col-4:last-child {
  margin-right: 0
}
.col-4>:first-child {
  margin-top: 0
}
.col-5 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 40.67797%;
  min-height: 1px
}
.col-5:last-child {
  margin-right: 0
}
.col-5>:first-child {
  margin-top: 0
}
.col-6 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 49.15254%;
  min-height: 1px
}
.col-6:last-child {
  margin-right: 0
}
.col-6>:first-child {
  margin-top: 0
}
.col-7 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 57.62712%;
  min-height: 1px
}
.col-7:last-child {
  margin-right: 0
}
.col-7>:first-child {
  margin-top: 0
}
.col-8 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 66.10169%;
  min-height: 1px
}
.col-8:last-child {
  margin-right: 0
}
.col-8>:first-child {
  margin-top: 0
}
.col-9 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 74.57627%;
  min-height: 1px
}
.col-9:last-child {
  margin-right: 0
}
.col-9>:first-child {
  margin-top: 0
}
.col-10 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 83.05085%;
  min-height: 1px
}
.col-10:last-child {
  margin-right: 0
}
.col-10>:first-child {
  margin-top: 0
}
.col-11 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 91.52542%;
  min-height: 1px
}
.col-11:last-child {
  margin-right: 0
}
.col-11>:first-child {
  margin-top: 0
}
.col-12 {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  min-height: 1px
}
.col-12:last-child {
  margin-right: 0
}
.col-12>:first-child {
  margin-top: 0
}
#search_results {
  position: relative;
  left: 0%;
  width: 100%
}
.left_column, .store_result {
  display: inline-block;
  float: left;
  position: relative
}
.store_result {
  width: 100%;
  height: 355px
}
.left_column {
  width: 55%;
  height: 335px;
  padding: 10px
}
.right_column {
  width: 40%;
  float: right;
  right: 0;
  top: 50%;
  display: block;
  position: absolute
}
.store_result h1 {
  color: #0c2577;
  font-size: 1.625em;
  margin: 10px 0
}
.store_result h2 {
  font-size: 1.25em;
  line-height: 1.25em;
  text-transform: uppercase
}
.store_result h4 {
  font-size: 1em;
  color: #0b85ad;
  text-transform: uppercase
}
.hours td, .hours th {
  color: #666;
  text-align: center;
  font: .8em/1.6em Helvetica, Arial, sans-serif;
  padding: 0 2px 5px
}
.hours th {
  font: 700 1.1em/1.8em Helvetica, Arial, sans-serif;
  padding: 0 3px
}
#small_map, .google_review {
  box-shadow: 0 0 10px rgba(0, 0, 0, .57) inset
}
.google_review {
  padding: 5px 10px;
  background: rgba(255, 255, 255, .7);
  font-size: .9em
}
.google_review h3 {
  font: 700 1.2em/1.2em Helvetica, Arial, sans-serif
}
.google_review p {
  font-size: .9em;
  line-height: 1.25em
}
.google_review strong {
  text-transform: capitalize;
  font-weight: 700;
  color: #333
}
#small_map {
  background: url(../images/small_map.gif) no-repeat;
  width: 205px;
  height: 220px
}
.right_column #driving_directions {
  background: #ff0d01;
  border-radius: 10px;
  font: 700 14px/25px 'Oswald', Impact, Arial, sans-serif;
  color: #fff;
  display: inline-block;
  height: 25px;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  text-decoration: none
}
.right_column h1 {
  text-align: center;
  color: #0c2577;
  font-size: 28px;
  margin: 0;
  font-weight: 400
}
.disc-footer {
  padding-top: 1px;
  background-color: #242425
}
.disc-footer .page {
  background: 0 0
}
@media print {
  .ie10 #headline h2, .ie8 #headline h2, .ie9 #headline h2 {
    font-family: Arial
  }
  body, html {
    font-size: 12px
  }
  * {
    background: 0 0!important
  }
  .page {
    max-width: auto
  }
  #header, .pylon {
    display: none
  }
  .coupon_pylon {
    display: block
  }
  .ie7 .coupon_pylon {
    position: absolute;
    top: 10px;
    left: 10px
  }
  .coupon_formatedAmount {
    position: relative;
    top: -20px
  }
  .coupon_formatedAmount span {
    top: 25px
  }
  .ie7 .coupon_formatedAmount {
    position: absolute;
    right: 120px!important;
    top: 20px
  }
  .coupon_offerText {
    min-height: 50px
  }
  .ie7 .coupon_offerText {
    margin-top: 50px
  }
  .coupon_pylon img {
    width: 50px
  }
  .coupon_yelp {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px
  }
  .ie8 .coupon_formatedAmount_highlight {
    top: -25px
  }
  .ie7 .coupon_formatedAmount_highlight {
    top: -30px;
    line-height: 2.6em
  }
  .coupon_content {
    border: dashed 5px
  }
  .coupon_formatedAmount {
    text-align: left;
    padding-left: 80px;
    font-size: 2em
  }
  #coupon_area .coupon_snugDesc {
    width: 160px;
    margin-left: 48%;
    text-align: left;
    margin-top: -40px;
    height: 75px;
    font-size: 1.5em
  }
  .coupon_details {
    padding: 10px 10px 0;
    color: #000
  }
  #coupon_area .coupon_details .print {
    display: block;
    font-weight: 400!important;
    font-size: .8em;
    padding: 10px 0;
    text-align: left;
    min-height: 70px
  }
  #coupon_area .pylon, #coupon_print {
    display: none
  }
  #coupons {
    width: 100%
  }
  #coupons h1 {
    font-size: 1.8em
  }
  #coupons h1, #coupons h1 *, h2 {
    font-weight: 700
  }
  #coupon_area .page {
    min-height: auto
  }
  .coupon_offerText {
    font-size: 1.2em!important
  }
  #coupons h1, #coupons h1 *, .coupon_content, .coupon_content *, h2 {
    font-family: 'Arial Narrow', Arial, sans-serif!important
  }
  .coupon_formatedAmount, .coupon_formatedAmount * {
    font-weight: 700
  }
  #locations_area .page {
    background-image: none;
    width: 30%;
    float: left;
    margin-top: 20px
  }
  #location_select, #locations_area .pylon, #map_header, #searchBar, .coupon_couponDesc {
    display: none
  }
  .coupon_originalAmount {
    left: auto;
    right: 10px;
    text-align: right
  }
  #maps {
    width: 100%;
    height: 220px;
    float: left;
    position: relative
  }
  #map, #maps {
    display: none!important
  }
  #map_print {
    position: relative;
    top: 0;
    left: 0
  }
  #locations_area {
    float: left;
    clear: none
  }
  #results, #valvLocations, #viocLocations {
    display: none!important
  }
  #preload {
    display: none
  }
  #fourstar {
    font-size: 17px;
    font-family: Arial, sans-serif;
    padding: 15px 0 0;
    background-color: transparent;
    color: #666;
    border: 0
  }
  #fourstar .survey {
    font-size: 11px
  }
  #fourstar img {
    width: 35%;
    margin-top: -3px
  }
  #connect_bar {
    display: none
  }
  #footer {
    background: #fff;
    float: left;
    width: 60%;
    padding: 20px 0 0 20px;
    clear: none
  }
  #footer .page {
    width: auto;
    margin: 0;
    padding: 0!important
  }
  #footer .vioc {
    width: auto;
    margin: 0;
    padding: 0;
    color: #000
  }
  #disclaimers a, #footer .connect, #footer .quality, #fourStars {
    display: none
  }
  #storeDetails {
    display: block;
    color: #333
  }
  #storeDetails * {
    color: #333
  }
  #footer h3, #storeDetails h3 {
    padding-bottom: 5px;
    border-bottom: none;
    margin-bottom: 5px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #0281aa!important
  }
  #storeDetails h3 {
    font-size: 1.1em
  }
  #footer h3, .print-margin-top-zero {
    margin-top: 0
  }
  #footer h3 {
    font-size: 1.5em;
    padding-top: 0
  }
  #disclaimers {
    color: #000
  }
  #store_phone {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    font-size: 1.5em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #0281aa
  }
  #disclaimers .disclaimer, #wrap_location, .coupon_originalAmount, .noPrint {
    display: none
  }
  #store_services UL {
    display: block;
    float: none;
    padding-left: 20px;
    width: auto
  }
}
@media only screen and (max-width:800px) {
  body, html {
    font-size: 12px
  }
  #coupons h1 {
    font-size: 2.2em
  }
  #ctl00_TopContent_coupons1_imgAllState {
    max-width: 100%
  }
}
@media only screen and (max-width:640px) {
  .mobile-screen, body, html {
    background-color: #0c2577
  }
  #mobile-screen-mask, #mobile-sem, .mobile-screen, body, html {
    height: 100%
  }
  #ctl00_TopContent_coupons1_imgAllState {
    max-width: 100%
  }
  .coupon_snugDesc {
    margin-left: 25%!important;
    margin-top: 0!important;
    height: 0!important
  }
  #locations_area, .page {
    background: 0 0;
    background-image: none!important
  }
  .mobile {
    display: block
  }
  #coupon_print, #fourstar, #header, #storeDetails, .nomobile, .nonMobile {
    display: none
  }
  #coupon_primary, #coupon_secondary, #coupons {
    width: auto;
    float: none;
    cursor: default
  }
  #coupon_primary, #coupon_secondary {
    margin: 6px 15px;
    font-size: 11px
  }
  .coupon_formatedAmount {
    font-size: 2.2em;
    float: left;
    width: 130px;
    position: relative;
    top: -20px
  }
  .coupon_formatedAmount span {
    top: 30px
  }
  .coupon_offerText {
    text-align: left;
    height: 60px;
    font-size: 14px;
    min-height: 75px;
    top: 15px;
    margin-right: 10px
  }
  .coupon_content {
    padding: 5px 0 0;
    border: solid 4px
  }
  #coupon_area .pylon .car-list, #coupon_area .pylon a img, .coupon_originalAmount {
    display: none
  }
  ul {
    padidng-left: 40px;
    list-style-type: disc
  }
  ul li {
    margin: 10px 0 10px 20px
  }
  .coupon_details {
    padding: 4px 0 0
  }
  #coupon_area {
    background: #fff url(../images/mobile_coupon-bg.gif) repeat-x center top
  }
  #coupons #headline {
    background: url(../images/mobile_header.gif) repeat-x center top;
    padding: 15px 81px 4px 15px;
    height: 90px
  }
  #coupons h1 {
    color: #fff;
    margin: 0;
    font-size: 20px
  }
  #coupons #headline h2 {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 400
  }
  #coupon_area .pylon {
    float: right;
    position: absolute;
    width: 61px;
    height: 109px;
    right: 10px;
    top: 0;
    z-index: 1000
  }
  #coupon_area .pylon a {
    display: block;
    width: 61px;
    height: 109px;
    background: url(../images/mobile_pylon.png) no-repeat center bottom
  }
  #coupon_area .page {
    background: 0 0;
    min-height: 0;
    padding: 0
  }
  #footer {
    position: fixed;
    bottom: 0;
    height: 35px;
    line-height: 30px;
    width: 100%;
    background: url(../images/mobile_footer-bg.png) repeat-x center bottom;
    z-index: 1000
  }
  #footer .page {
    padding: 5px 10px 0
  }
  #footer .page p {
    margin: 0;
    padding: 0;
    line-height: 30px
  }
  #coupon_area .page .page, #disclaimers, #mobileNav {
    padding: 0 15px
  }
  #disclaimers p {
    margin: 0
  }
  #mobileNav {
    font-size: 11px;
    font-family: Arial, sans-serif
  }
  #coupons #mobileNav {
    padding: 15px 0
  }
  #mobileNav a {
    display: block;
    background-image: url(../images/mobile_button.gif);
    background-repeat: repeat-x;
    background-position: left center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 15px;
    overflow: hidden;
    height: 48px
  }
  #mobileNav a span {
    text-align: left;
    display: block;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 0 0 0 52px;
    line-height: 48px;
    height: 48px
  }
  #mobileNav a.btnLocation span {
    background-image: url(../images/mobile_button-location.gif)
  }
  #mobileNav a.btnServices span {
    background-image: url(../images/mobile_button-services.gif)
  }
  #mobileNav a.btnBack span {
    background-image: url(../images/mobile_button-back.gif)
  }
  #accordion, #accordion h3 a {
    font-family: Arial, sans-serif
  }
  #accordion h3 a {
    color: #c41212;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px
  }
  #accordion div {
    color: #000;
    display: none;
    padding: 0 0 10px
  }
}
.show {
  display: block!important
}
