<!-- AdditionalOffer Template
    @file additionalOffer.mustache.html
    @type template/mustache
    @import index.html
    @link Beta URL -
-->
<script class="additionalOffer-template" type="x-tmpl-mustache">
    <img src="images/checkboxB.jpg" width="24" height="19" /><span style="font-weight:bold; margin-left:10px;"><font face="Arial, Helvetica, sans-serif" style="font-size:14px; font-weight:bold; color:#333333;">Special offers in-store!</font></span>
    <div id="aodOffer">
        1000 Speedy Rewards Points with Oil Change Purchase*
    </div>
    <div id="aodCouponCode">1000</div>
    <div id="aodExpirationDate">Exp&nbsp3/4/2016</div>
    <div class="clear"></div>
    <div id="aodDisclaimer">Plus Tax. Not valid with any other same-service offers/discounts, including fleets. Good at participating locations. Includes up to 5 qts. of oil (diesel qts. may vary; see store for details), filter (prem. extra), lube & maint. check.
    </div>
</script>
