<!-- Address Template
    @file address.mustache.html
    @type template/mustache
    @import index.html
-->
<script class="address-template" type="x-tmpl-mustache">
    {{#.}}
    <h3>
        <a class="address-body" id="storeAddressLink" href="{{^web_map_url}}#{{/web_map_url}}{{web_map_url}}">
            {{#address}}{{address}},<br class="hidden-desktop">{{/address}}
            {{#city}}{{city}},{{/city}}
            {{state}}
            {{zip}}
        </a>
        <div class="hidden-desktop address-bottom"><a href="tel:{{phone}}">{{phone}}</a></div>
    </h3> {{/.}}

    <div id="contact-drive">
        <a class="hidden-desktop" target="_blank" id="ctlHeader_lnkAddress" href="{{mobile_map_url}}">Drive</a>
    </div>
</script>
