<!-- Coupons Template
    @file coupons.mustache.html
    @type template/mustache
    @import index.html
-->
<script class="coupons-template" type="x-tmpl-mustache">
    <div class="items">
        {{#coupons}}
        <div class="item" data-couponId="{{id}}">
            <img title="Valvoline Logo" src="images/viocSquareLogo.gif">
            <h1><span class="js-amount">{{amount}}</span></h1>
            <div class="mouse">
                <div class="js-text">
                    {{{text}}}
                </div>
                <div class="item-detail">
                    <span class="js-expiration right">{{exp}}</span>
                    <span class="js-code left">{{code}}</span>
                </div>
                <div class="js-disclaimer clear">
                    {{disclaimer}}
                </div>
            </div>
        </div>
        {{/coupons}}
    </div>
</script>
