<!-- Coupons Template
    @file coupons.mustache.html
    @type template/mustache
    @import index.html
    @link Beta URL -
-->
<script class="coupons-template" type="x-tmpl-mustache">
    <div class="items">
        {{#coupon}}
        <div class="item">
            <img id="coupon1_imgLogo" src="images/viocSquareLogo.gif" />
            <h1><span class="js-amount">{{amount}}</span></h1>
            <div class="mouse">
                <div class="js-text">
                    {{{text}}}
                </div>
                <div style="position:relative;">
                    <div class="coupon-detail">
                        <span class="js-expiration right">{{expiration}}</span>
                        <span class="js-code left">{{code}}</span>
                    </div>
                    <div class="js-disclaimer clear">
                        {{disclaimer}}
                    </div>
                </div>
            </div>
        </div>
        {{/coupon}}
    </div>
</script>
