<!-- Coupons Template
    @file coupons.mustache.html
    @type template/mustache
    @import index.html
-->
<script class="coupons-template" type="x-tmpl-mustache">

    <!--  Desktop version -->
    <div class="items">
        {{#coupons}}{{^isAdtlOffer}}
        <div class="item coupon" data-couponId="{{id}}">
            <img class="hidden-mobile" title="Valvoline Logo" src="https://files.marcomcentral.app.pti.com/epsilon/coupons/images/viocSquareLogo.gif">
            <h1><span class="js-amount">{{amount}}</span></h1>
            <h2 class="hidden-desktop">{{{text}}}
            {{#disclaimer}}<span class="hidden-desktop"><small><sup class="disclaimer-key"> {{id}}</sup></small></span>
            {{/disclaimer}}</h2>
            <div class="inline-block mouse">
                <div class="hidden-mobile js-text">
                    {{{text}}}
                </div>
                <div class="hidden-desktop disc"><span class="ellipsis">Valid at participating locations only. See store for details.</span></div>
                <div class="item-detail codes clearFix">
                    <span class="js-expiration right"><strong class="hidden-desktop">EXP: </strong>{{exp}}</span>
                    <span class="js-code left">{{code}}</span>
                </div>
                <div class="hidden-mobile js-disclaimer clear">
                    {{disclaimer}}
                </div>
            </div>
        </div>
        {{/isAdtlOffer}} {{/coupons}}
    </div>

    <!--  Mobile version -->
    <section class="hidden-desktop" id="disclaimers">
        {{#coupons}}
        <p><small><sup class="disclaimer-key"> {{id}} </sup></small>{{disclaimer}}</p>
        {{/coupons}}
    </section>
</script>
