<!-- Features Template
    @file features.mustache.html
    @type template/mustache
    @import index.html
-->
<script class="features-template" type="x-tmpl-mustache">
    <div id="ads">
        {{#.}}
            <div class="ad">
				<div style="text-align: center">
                {{#img}}<img class="ad-img" align="center" style="margin-left:auto; margin-right: auto; text-align:center" alt="{{text}}" src="{{img}}">{{/img}}
				</div>
				<div style="text-align: center">
                {{#text}}
                    <span class="ad-copy">{{text}}</span>
                {{/text}}
				</div>
            </div>
        {{/.}}
    </div>
</script>
