<!-- Services Template
    @file services.mustache.html
    @type template/mustache
    @import index.html
-->
<script class="services-template" type="x-tmpl-mustache">
    <ul>

        <li>&nbsp; <a href=http://www.vioc.com/oil-change>Full-Service Oil Change</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/transmission-service>Transmission Service</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/radiator-service>Radiator Service</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/air-filter-replacement-service>Air Filter Replacement</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/fuel-system-cleaning-service>Fuel System Cleaning Service</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/serpentine-belt-replacement>Serpentine Belt Replacement</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/air-conditioning-service>Air Conditioning Service</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/tire-rotation-service>Tire Rotation</a> </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/gearbox-services>Gearbox Fluid Replacement</a> </li>

        <li>&nbsp; Headlight/Taillight Replacement </li>

        <li>&nbsp; <a href=http://www.vioc.com/services/battery-services>Battery Replacement</a> </li>

        <li>&nbsp; Windshield Wiper Replacement </li>

    </ul>

</script>
