<!-- Coupons Template
    @file coupons.mustache.html
    @type template/mustache
    @import index.html

    {
    primary: {
      amount-prefix: "$",
      amount: "10",
      amount-suffix: "off",
      text: "Valvoline? Full-Service Full Synthetic or Synthetic Blend Oil Change*",
      code: "NA830-LIS",
      exp: "07/09/2016"
    },
    secondary: {
      amount-prefix: "$",
      amount: "5",
      amount-suffix: "off",
      text: "Valvoline? Full-Service Conventional Oil Change**",
      code: "NA829-LIS",
      exp: "07/09/2016"
    }
  }
-->
<script class="coupons-template" type="x-tmpl-mustache">

    {{#primary}}
        <div id="coupon_primary">
            <div class="coupon_content">
                <div class="coupon_pylon"><img src="./images/pylonSmall.jpg" /></div>
                <div class="coupon_formatedAmount">{{amount-prefix}}<span>{{amount}}</span>{{amount-suffix}}</div>
                <div class="coupon_originalAmount"></div>
                <div class="coupon_offerText">{{text}}</div>
                <div class="coupon_details">
                    <div class="coupon_couponDesc"><span id="ctl00_TopContent_coupons1_lblShortlDisclaimer1">Valid at participating locations only - See store for details</span></div>
                    <div class="coupon_couponCode"><span id="ctl00_TopContent_coupons1_lblCouponCode1">{{code}}</span></div>
                    <div class="coupon_expiration">EXP: <span id="ctl00_TopContent_coupons1_lblCouponExpiration1">{{exp}}</span></div>
                    <div class="clear"></div>
                    <div class="print">
                        <span id="ctl00_TopContent_coupons1_lblCoupon1DefaultDisclaimer">Plus Tax. Not valid with any other same-service offers/discounts, including fleets. Good at participating locations</span>
                        <br/>
                        <span id="ctl00_TopContent_coupons1_lblCouponDisclaimer1">Includes up to 5 quarts of Synthetic Blend, Full Synthetic or Diesel oil (diesel quarts may vary; see store for details), filter (prem. extra), lube and maintenance check.</span>
                    </div>
                </div>
            </div>
        </div>
    {{/primary}}

    {{#secondary}}
        <div id="coupon_secondary">
            <div class="coupon_content">
                <div id="ctl00_TopContent_coupons1_pnlPrimaryCoupon">
                    <div class="coupon_pylon"><img src="./images/pylonSmall.jpg" /></div>
                    <div class="coupon_formatedAmount">{{amount-prefix}}<span>{{amount}}</span>{{amount-suffix}}</div>
                    <div class="coupon_originalAmount"></div>
                    <div class="coupon_offerText">{{text}}</div>
                    <div class="coupon_details">
                        <div class="coupon_couponDesc">
                            <span id="ctl00_TopContent_coupons1_lblShortlDisclaimer2">
                            Valid at participating locations only - See store for details
                          </span>
                        </div>
                        <div class="coupon_couponCode"><span id="ctl00_TopContent_coupons1_lblCouponCode2">{{code}}</span></div>
                        <div class="coupon_expiration">EXP: <span id="ctl00_TopContent_coupons1_lblCouponExpiration2">{{exp}}</span></div>
                        <div class="clear"></div>
                        <div class="print">
                            <span id="ctl00_TopContent_coupons1_lblCoupon2DefaultDisclaimer">Plus Tax. Not valid with any other same-service offers/discounts, including fleets. Good at participating locations</span>
                            <br/>
                            <span id="ctl00_TopContent_coupons1_lblCouponDisclaimer2">Includes up to 5 quarts of Conventional oil, filter (prem. extra), lube and maintenance check.</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {{/secondary}}
</script>
